html, body {
    height: 100%;
}
#wrapper {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 11px;
    position: relative;
    display: table;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}
.content {
    display: table-row;
    height: 100%;
}

/*.content:after{
  overflow: hidden;
  visibility: hidden;
  content: ".";
  display:table-row;
  clear:both;
}*/

header {
    padding: 0 46px;
}
.header_top {
    position: relative;
    overflow: hidden;
    margin-bottom: 10px;
}
.telephone {
    float: left;
    overflow: hidden;
}
.telephone> img {
    float: left;
    margin-top: 22px;
    margin-left: 5px;
}
.telephone> a {
    font-family: Arial;
    font-size: 18px;
    float: left;
    padding-top: 23px;
    padding-left: 4px;
    text-decoration: none;
    letter-spacing: .5px;
    color: #595959;
}
.password_forgot:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    content: ' ';
}

/*блок для вводных данных*/

.login {
    float: left;
    width: 495px;
    margin-top: 18px;
    margin-left: 16px;
    padding: 3px 0;
    border-radius: 3px;
    background: linear-gradient(to top, rgb(13, 51, 88), rgb(28, 97, 128));
    -webkit-box-shadow: 1px 7px 4px -4px rgba(0, 0, 0, .6);
    -moz-box-shadow: 1px 7px 4px -4px rgba(0, 0, 0, .6);
    box-shadow: 1px 7px 4px -4px rgba(0, 0, 0, .6);
}
.login_data {
    overflow: hidden;
    padding-bottom: 3px;
}
.login_data> p:before {
    position: absolute;
    display: inline-block;
    width: 13px;
    height: 18px;
    margin-top: 2px;
    margin-left: 7px;
    content: ' ';
    background: url('../img/zamok.png') 100% no-repeat;
    background-size: 14px;
}
.login_data> input[type=text] {
    font-family: Arial;
    font-size: 11px;
    float: left;
    width: 108px;
    margin-top: 1px;
    margin-left: 24px;
    padding: 1px 0 1px;
    padding-left: 4px;
    letter-spacing: .5px;
    border: 1px solid #ccc;
    border-radius: 1px;
}
.login_data> input[type=password] {
    font-family: Arial;
    font-size: 11px;
    float: left;
    width: 108px;
    margin-top: 1px;
    margin-left: 7px;
    padding: 1px 0 1px 4px;
    letter-spacing: 0.5px;
    border: 1px solid #ccc;
    border-radius: 1px;
}
input[type=text]:focus::-webkit-input-placeholder {
    opacity: 0;
}

/* webkit */

input[type=text]:focus::-moz-placeholder {
    opacity: 0;
}

/* Firefox 19+ */

input[type=text]:focus:-moz-placeholder {
    opacity: 0;
}

/* Firefox 18- */

input[type=text]:focus:-ms-input-placeholder {
    opacity: 0;
}

/* IE */

input[type=password]:focus::-webkit-input-placeholder {
    opacity: 0;
}

/* webkit */

input[type=password]:focus::-moz-placeholder {
    opacity: 0;
}

/* Firefox 19+ */

input[type=password]:focus:-moz-placeholder {
    opacity: 0;
}

/* Firefox 18- */

input[type=password]:focus:-ms-input-placeholder {
    opacity: 0;
}

/* IE */

.login_data> input[type=submit] {
    font-size: 11px;
        float: left;
        margin-top: 3px;
        margin-left: 8px;
        letter-spacing: .4px;
        color: white;
        border: none;
        background: none;
        border-right: 1px solid white;
        padding-right: 5px;
}
.vertical_slash {
    float: left;
    margin-top: 3px;
    margin-left: 4px;
}
.vertical_slash> span {
    color: white;
}
.registr {
    float: left;
    margin-top: 3px;
    margin-left: 4px;
}
.registr> a {
    font-size: 11px;
        margin-left: 1px;
        text-decoration: none;
        letter-spacing: 0.3px;
        color: white;
}
.password_forgot {
    float: left;
    margin-top: 3px;
    margin-left: 21px;
}
.password_forgot> a {
    font-family: Arial, Tahoma, sans-serif;
    font-size: 11px;
    padding-bottom: 1px;
    text-decoration: none;
    letter-spacing: 1px;
    color: rgb(193, 191, 192);
    border-bottom: .5px solid rgb(193, 191, 192);
}
.menu_right_top {
    float: left;
    width: 74px;
    margin-top: 19px;
    margin-left: 16px;
    padding: 1px 0 4px;
    border: 1px solid rgb(206, 212, 212);
    border-radius: 11px;
    -webkit-box-shadow: 0 6px 7px -8px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 6px 7px -8px rgba(0, 0, 0, 1);
    box-shadow: 0 6px 7px -8px rgba(0, 0, 0, 1);
}
.menu_right_top> .img1 {
    margin-left: 9px;
}
.menu_right_top> .img2 {
    margin-left: 6px;
}
.menu_right_top> .img3 {
    margin-left: 7px;
}
.menu_right_top> a> img {
    margin-top: 1px;
    display: inline-block;
    margin-left: -1px;
}
.menu_right_top:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    content: ' ';
}
.img_header img{
    margin-left: -2px;
}
.menu {
    margin: 4px 45px 6px 43px;
    padding-bottom: 7px;
    position: relative;
    overflow: hidden;
    border: 1px solid rgb(10, 16, 48);
    border-radius: 4.3px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#464d53+1,0e0e0e+29,0e0e0e+29,0e0e0e+100 */
    background: #464d53;
    /* Old browsers */
    background: -moz-linear-gradient(top, #464d53 1%, #0e0e0e 29%, #0e0e0e 29%, #0e0e0e 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #464d53 1%, #0e0e0e 29%, #0e0e0e 29%, #0e0e0e 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #464d53 1%, #0e0e0e 29%, #0e0e0e 29%, #0e0e0e 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .5);
    -moz-box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .5);
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, .5);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#464d53', endColorstr='#0e0e0e', GradientType=0);
    /* IE6-9 */
}
.menu_ul
/*box для меню слева*/

{
    float: left;
margin-left: 127px;
padding-top: 1px;
}
.menu_ul> li
/*элементы ула меню*/

{
    float: left;
    margin-top: 5px;
    padding-right: 4px;
}
.menu_ul> li> a
/*настр ссылочных элементов*/

{
    font-family: 'lucida_sans_unicoderegular';
    font-size: 13.5px;
    text-decoration: none;
    color: white;
    border-radius: 15px;
}
.company> a {
    padding: 2px 18px 2px 20px;
}
.payment> a {
    margin-left: 4px;
    padding: 2px 9px 2px 9px;
}
.delivery> a {
    margin-left: 7px;
    padding: 2px 12px 2px 12px;
}
.articles> a {
    margin-left: 6px;
    padding: 2px 9px 2px 9px;
}
.contacts> a {
    margin-left: 13px;
}
.company> a {
    padding: 2px 18px 2px 20px;
}
.payment> a {
    margin-left: 4px;
    padding: 2px 9px 2px 9px;
}
.menu_ul> li> a:hover {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#25607a+0,0d3357+95,09233c+100 */
    background: #25607a;
    /* Old browsers */
    background: -moz-linear-gradient(top, #25607a 0%, #0d3357 95%, #09233c 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #25607a 0%, #0d3357 95%, #09233c 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #25607a 0%, #0d3357 95%, #09233c 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#25607a', endColorstr='#09233c', GradientType=0);
    /* IE6-9 */
}
.delivery> a:hover {
    margin-left: 7px;
    padding: 2px 12px 2px 12px;
    background: none;
}
.articles> a:hover {
    margin-left: 6px;
    padding: 2px 9px 2px 9px;
}
.contacts> a:hover {
    margin-left: 1px;
    padding: 2px 12px 2px 12px;
}
.menu_ul_right
/*менюшка справа под главн картинкой*/

{
    float: right;
    position: relative;
    display: inline-block;
    margin-top: 1px;
    margin-right: 12px;
}
.menu_ul_right> li {
    font-family: Arial, sans-serif;
    display: inline-block;
    float: left;
}
.korzina
/*картинка корзины*/

{
    margin-top: 8px;
    margin-left: 56px;
}
.goods
/*товары*/

{
    margin-top: 8px;
        letter-spacing: .6px;
        color: #899395;
}
.goods:before {
    position: absolute;
    display: inline-block;
    width: 21px;
    height: 17px;
    margin-top: -2px;
    margin-left: -27px;
    content: ' ';
    background: url('../img/korzina.png');
}
.goods_number
/*номер товара*/

{
    font-size: 12px;
    margin-top: 9px;
    margin-left: 1px;
}
.goods_number> a
/*номер товара ред*/

{
    text-decoration: none;
    color: #0e5b8f;
}
.goods_number> a:active
/*номер товара актив*/

{
    text-decoration: none;
    color: #0e5b8f;
}
.goods_summ
/*сумма товара*/

{
    margin-top: 8px;
    margin-left: 15px;
    letter-spacing: 0.3px;
    color: #899395;
}
.goods_price
/*стоимость товара*/

{
    font-size: 12px;
        margin-top: 8px;
        margin-left: 10px;
        letter-spacing: .4px;
}
.goods_price> a
/*стоимость товара ссылка*/

{
    text-decoration: none;
    color: #0e5b8f;
}
.goods_price> a:active
/*стоимость товара акт ссылка*/

{
    text-decoration: none;
    color: #0e5b8f;
}
#search_menu
/*3 БЛОКА С ПОИСКОМ*/

{
    position: relative;
    margin: 0 45px;
}
#search_auto
/*БЛОК ПОИСКА ОБЩИЙ*/

{
    float: left;
    box-sizing: border-box;
    width: 415px;
    margin-top: 5px;
    margin-left: 3px;
    padding-bottom: 9px;
    border: 1px solid #b6b6b6;
    border-radius: 19px;
    -webkit-box-shadow: 2px 4px 5px 0 rgba(150, 150, 150, .7);
    -moz-box-shadow: 2px 4px 5px 0 rgba(150, 150, 150, .7);
    box-shadow: 2px 4px 5px 0 rgba(150, 150, 150, .7);
}

/*В 1 БЛОКЕ ПОИСКА БЛОК ДЛЯ НАЗВАНИЙ(ВВЕРХУ)*/

.search_auto_text_top {
    margin-bottom: -1px;
    padding-bottom: 17px;
}
.search_auto_text_top:after {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    content: '';
}
.discs_text {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: 800;
    position: absolute;
    margin-top: 2px;
    margin-left: 20px;
    letter-spacing: .5px;
    color: #134465;
}
.search_auto_text {
    font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: 800;
        position: absolute;
        margin-top: -2px;
        margin-left: 126px;
        letter-spacing: 0.3px;
        color: #134465;
    /*СЛОВОСОЧ ПОИСК ПО АВТОМОБИЛЯМ*/
    color: #134465;
}
.tire_text {
    font-family: Arial, sans-serif;
    font-size: 10px;
    font-weight: 800;
    position: absolute;
    margin-left: 355px;
    /*СЛОВО ШИНЫ В ПОИСК ПО АВТО*/
    color: #134465;
}

/*РАЗДЕЛИЛ НА 4 БЛОКА ПОИСК ПО АВТО*/


/*1-й БЛОК*/

.search {
    overflow: hidden;
}
.search:after {
    display: block;
    clear: both;
    overflow: hidden;
    content: '';
}
.search_auto_discs_characters {
    float: left;
    border: 1px solid transparent;
}
.auto_brand_text_discs {
    /*Марка авто для дисков(марка)*/
    font-size: 10px;
    display: inline-block;
    padding-top: 8px;
    padding-left: 16px;
}
.auto_text_discs {
    font-family: Arial;
    font-size: 9px;
    /*Марка авто для дисков(авто)*/
    display: inline-block;
    color: #8d989c;
}
.auto_model_text_discs {
    font-size: 10px;
    line-height: 1px;
    display: block;
    padding-top: 10px;
    padding-left: 17px;
    /*ТЕКСТ МОДЕЛЬ*/
}
.auto_model_text_discs_2 {
    font-family: Arial;
    /*ТЕКСТ "АВТОМОБИЛЯ"*/
    font-size: 9px;
    display: inline-block;
    padding-top: 3px;
    padding-left: 17px;
    letter-spacing: .3px;
    color: #8d989c;
}
.auto_year_text_discs {
    font-size: 10px;
    line-height: 1px;
    display: block;
    padding-top: 8px;
    padding-left: 16px;
    /*ГОД ВЫПУСКА ТЕКСТ*/
}
.auto_year_text2_discs {
    font-family: Arial;
    /*ГОД ВЫПУСКА АВТОМОБИЛЯ*/
    font-size: 9px;
    display: inline-block;
    padding-top: 3px;
    padding-left: 17px;
    letter-spacing: .2px;
    color: #8d989c;
}
.equipment_discs_text {
    font-size: 10px;
    display: block;
    padding-top: 7px;
    padding-left: 16px;
    letter-spacing: .2px;
}

/*2-й БЛОК*/

.search_auto_discs_selects {
    float: left;
    border: 1px solid transparent;
}
select[name='auto_brand_discs'] {
    display: block;
    width: 102px;
    margin-top: 3px;
    margin-left: 1px;
    padding: 1px 0;
    /*селект для марка авто диски*/
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select::-ms-expand {
    /*для ие кнопка в селекте*/
    display: none;
}
select[name='auto_model_discs'] {
    display: block;
    width: 102px;
    margin-top: 4px;
    margin-left: 1px;
    padding: 1px 0;
    /*селект для модель авто диски_общ*/
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select[name='auto_year_discs'] {
    /*селект для модель авто диски_общ*/
    display: block;
    width: 58px;
    margin-top: 4px;
    margin-left: 1px;
    padding: 1px 0;
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select[name='equipment_discs']
/*селект для компл авто_диски*/

{
    display: block;
    width: 102px;
    margin-top: 4px;
    margin-left: 1px;
    padding: 1px 0;
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, 0.4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}

/*3й БЛОК + исп элементы с 1*/

.search_auto_tire_characters {
    float: left;
    margin-top: -2px;
    padding-left: 9px;
    border: 1px solid transparent;
}

/*4й БЛОК*/

.search_auto_tires_selects {
    float: left;
    border: 1px solid transparent;
}
select[name='auto_brand_tires'] {
    display: block;
    width: 102px;
    margin-top: 1px;
    padding: 1px 0;
    /*селект для марка авто диски*/
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select::-ms-expand {
    /*для ие кнопка в селекте*/
    display: none;
}
select[name='auto_model_tires'] {
    display: block;
    width: 102px;
    margin-top: 4px;
    padding: 1px 0;
    /*селект для модель авто шины_общ*/
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select[name='auto_year_tires'] {
    display: block;
    width: 58px;
    margin-top: 4px;
    padding: 1px 0;
    /*селект для модель авто шины_общ*/
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select[name='equipment_tires'] {
    display: block;
    width: 102px;
    margin-top: 4px;
    padding: 1px 0;
    /*селект для компл авто_шины*/
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
.search_auto_input input {
    font-size: 14px;
    font-style: italic;
    float: right;
    padding-top: 2px;
    padding-right: 21px;
    text-decoration: underline;
    color: #164466;
    border: none;
    background: none;
}

/*2й БЛОК для поиска ШИН*/

#search_tire {
    float: left;
        box-sizing: border-box;
        width: 195px;
        margin-top: 4px;
        margin-left: 13px;
        padding-bottom: 10px;
        border: 1px solid #b6b6b6;
        border-radius: 19px;
    -webkit-box-shadow: 2px 4px 5px .00px rgba(150, 150, 150, .7);
    -moz-box-shadow: 2px 4px 5px .00px rgba(150, 150, 150, .7);
    box-shadow: 2px 4px 5px .00px rgba(150, 150, 150, .7);
}
.search_tire_block_top {
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 800;
    margin-top: -1px;
    padding-left: 9px;
    letter-spacing: 0.2px;
    color: #134465;
    border: 1px solid transparent;
}

/*ОПИСЫВАЮЩИЙ БЛОК В ПОИСК ШИН*/

.search_tire_character {
    float: left;
    margin-top: -2px;
    border: 1px solid transparent;
}
.size_tire_text {
    font-size: 10px;
    display: block;
    padding-top: 12px;
    padding-left: 13px;
}
.R_text {
    font-size: 10px;
        display: block;
        padding-top: 10px;
        padding-left: 45px;
}
.season_text {
    font-size: 10px;
    display: block;
    padding-top: 7px;
    letter-spacing: 0.4px;
    padding-left: 13px;
}

/*ПОИСК ШИН 2-й блок*/

.search_tire_2nd_block {
    float: left;
    width: 130px;
    margin-top: -2px;
    border: 1px solid transparent;
}
select[name='size_of_tires'] {
    font-size: 11px;
    width: 51px;
    margin-top: 5px;
    margin-left: 4px;
    padding: 2px 0 2px 2px;
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
.slash_between_select {
    font-size: 12px;
    display: inline-block;
    margin-top: 1px;
    margin-left: 3px;
}
select[name='size_of_tires2'] {
    width: 53px;
    margin-left: 3px;
    padding-bottom: 1px;
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select[name='R_tires'] {
    font-size: 11px;
    display: inline-block;
    width: 45px;
    margin-top: 7px;
    margin-left: 4px;
    padding: 2px 0 2px 1px;
    text-indent: .01px;
    text-overflow: '';
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
.checkobox_season {
    margin-top: 8px;
    margin-left: 2px;
}
.checkobox_season:after {
    clear: both;
    overflow: hidden;
    content: '';
}
label[for='summer'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 11px;
    display: block;
    padding-left: 15px;
    text-indent: -13px;
    letter-spacing: .4px;
}
label[for='winter'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 11px;
    display: block;
    padding-left: 15px;
    text-indent: -13px;
    letter-spacing: .4px;
}
label[for='all_seas'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 11px;
    display: block;
    padding-left: 15px;
    text-indent: -13px;
    letter-spacing: .4px;
}
.sum, .win, .all {
    margin-top: -4px;
}
.search_tire {
    overflow: hidden;
}
.search_tire input {
    font-size: 14px;
    font-style: italic;
    float: right;
    margin-top: -5px;
    padding-right: 12px;
    text-decoration: underline;
    color: #164466;
    border: none;
    background: none;
}
#search_disc_3rd_box
/*ПОИСК ДИСКОВ 3-й БЛОК*/

{
    float: left;
    box-sizing: border-box;
    width: 268px;
    margin-top: 3px;
    margin-left: 9px;
    padding-bottom: 9px;
    border: 1px solid #b6b6b6;
    border-radius: 16px;
    -webkit-box-shadow: 2px 4px 5px rgba(150, 150, 150, .75);
    -moz-box-shadow: 2px 4px 5px 0 rgba(150, 150, 150, .75);
    box-shadow: 2px 4px 5px 0 rgba(150, 150, 150, .75);
}
.clearfix {
    display: block;
    visibility: hidden;
    clear: both;
    overflow: hidden;
    content: '.';
}
.search_discs {
    display: inline-block;
    width: 176px;
}
.search_discs_text {
    font-family: Arial, sans-serif;
        font-size: 13px;
        font-weight: 800;
        margin-bottom: 1px;
        margin-left: 9px;
        color: #134465;
}
.search_discs_characters {
    float: left;
    width: 101px;
    border: 1px solid transparent;
}
.search_discs_diameter_text {
    font-size: 10px;
    display: inline-block;
    margin-top: 4px;
    margin-left: 15px;
    letter-spacing: .6px;
}
.search_disc_text {
    font-size: 10px;
    display: inline-block;
    margin-left: 2px;
    letter-spacing: .6px;
    color: #8d989c;
}
.search_discs_quantity_text {
    font-size: 10px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 14px;
    letter-spacing: .8px;
}
.search_disc_fastener_text {
    font-size: 10px;
    display: block;
    margin-top: -2px;
    margin-left: 14px;
    letter-spacing: .4px;
    color: #8d989c;
}
.search_disc_holes_text {
    font-size: 10px;
    display: block;
    margin-top: -2px;
    margin-left: 14px;
    letter-spacing: .1px;
    color: #8d989c;
}
.DLFH_diametr {
    font-size: 10px;
    display: block;
    margin-top: 1px;
    margin-left: 15px;
    letter-spacing: .7px;
}
.DLFH_location {
    font-size: 10px;
    display: block;
    margin-top: -1px;
    margin-left: 14px;
    letter-spacing: .3px;
    color: #8d989c;
}
.DLFH_fastener {
    font-size: 10px;
    display: block;
    margin-top: -1px;
    margin-left: 14px;
    letter-spacing: .4px;
    color: #8d989c;
}
.DLFH_holes {
    font-size: 10px;
    display: block;
    margin-top: -1px;
    margin-left: 14px;
    letter-spacing: .1px;
    color: #8d989c;
}
.search_discs_select {
    float: left;
    margin-top: 1px;
    margin-left: 1px;
}
select[name=diameter_of_discs] {
    font-size: 11px;
    display: block;
    width: 56px;
    margin-top: 1px;
    margin-left: 2px;
    padding: 2px 0 2px 3px;
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset .8px .8px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset .8px .8px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset .8px .8px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select[name=QFH] {
    font-size: 11px;
    display: block;
    width: 50px;
    margin-top: 14px;
    margin-left: 2px;
    padding: 2px 0 2px 4px;
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset .8px .8px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset .8px .8px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset .8px .8px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
select[name=DLFH] {
    font-size: 11px;
    display: block;
    width: 58px;
    margin-top: 15px;
    margin-left: 2px;
    padding: 2px 0 2px 2px;
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
.DCO {
    display: inline-block;
    float: right;
    width: 80px;
}
.DCO_text1 {
    font-size: 10px;
    position: absolute;
    margin-top: 6px;
    letter-spacing: .6px;
}
.DCO_text2 {
    font-size: 9px;
    position: absolute;
    margin-top: 14px;
    margin-left: -1px;
    letter-spacing: .5px;
    color: #8d989c;
}
.DCO_text3 {
    font-size: 8px;
    position: absolute;
    margin-top: 23px;
    margin-left: 1px;
    letter-spacing: .6px;
    color: #8d989c;
}
.DCO_text4 {
    font-size: 8px;
    position: absolute;
    margin-top: 32px;
    margin-left: 1px;
    letter-spacing: .9px;
    color: #8d989c;
}
select[name=DCO_select] {
    font-size: 11px;
    display: block;
    width: 58px;
    margin-top: 43px;
    margin-top: 43px;
    margin-left: 2px;
    margin-left: 1px;
    padding: 2px 0 2px 2px;
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
.ET_text1 {
    font-size: 10px;
    display: inline-block;
    margin-top: 6px;
    letter-spacing: -1.4px;
}
.ET_text2 {
    font-size: 8px;
    display: block;
    margin-top: -2px;
    margin-left: 4px;
    letter-spacing: .7px;
    color: #8d989c;
}
select[name=ET_select] {
    font-size: 10.6px;
    width: 58px;
    margin-top: 3px;
    margin-left: 1px;
    padding: 2px 0 2px 2px;
    border-right: transparent;
    border-bottom: transparent;
    background-image: url('../img/strelka.png');
    background-repeat: no-repeat;
    background-position: right center;
    -webkit-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    box-shadow: inset 1px 1px 0 0 rgba(0, 0, 0, .4);
    /*for WebKit*/
    -webkit-appearance: none;
    /* for FF */
    -moz-appearance: none;
    /* for IE */
    -ms-appearance: none;
    appearance: none!important;
}
.search_discs_in_disc_menu {
    overflow: hidden;
}
.search_discs_in_disc_menu input {
    font-size: 14px;
    font-style: italic;
    margin-top: -3px;
    margin-left: 198px;
    text-decoration: underline;
    color: #164466;
    border: none;
    background: none;
}
select:focus:hover {
    background-image: url('../img/strelka2.png');
}
main {
    position: relative;
    overflow: hidden;
}
.block1, .block3 {
    float: left;
    box-sizing: border-box;
    width: 23.5%;
    margin-top: 4px;
}

/*НАСТРОЙКИ В BLOCK1 для КАТАЛОГ ПРОДУКЦИИ!*/

.catalog_prod {
    width: 180px;
    margin-top: 13px;
    margin-left: 43px;
    padding: 2px 0 2px 0;
    border: 1px solid #aeb6b9;
    border-radius: 12px;
    -webkit-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, .4);
    box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, .4);
}
.catalog_prod a {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 12px;
    display: inline-block;
    margin-top: 1px;
    margin-left: 28px;
    text-decoration: none;
    letter-spacing: 0.5px;
    color: #104265;
}
.catalog_prod a:active {
    color: #104265;
}
.catalog_prod a:before {
    position: absolute;
        display: inline-block;
        width: 21px;
        height: 20px;
        margin-top: -1px;
        margin-left: -25px;
        content: ' ';
        background: url(../img/icon.png) 100%;
}

/*НАСТРОЙКИ В BLOCK1 для КАТАЛОГ ПРОДУКЦИИ/ШИНЫ*/

.tire_left_menu > a, .discs_left_menu > a, .bolts_left_menu> a{
    width: 119px;
    display: block;
    border: 1px solid #aeb6b9;
    border-radius: 12px;
    font-family: 'lucida_sans_unicoderegular';
    font-size: 13px;
    margin-top: 13px;
    padding: 4px 0 1px 29px;
    margin-left: 45px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #104265;
}

.tire_left_menu > a:before, .discs_left_menu> a:before, .bolts_left_menu> a:before {
        position: absolute;
        display: inline-block;
        width: 24px;
        height: 23px;
        margin-top: -3px;
        margin-left: -26px;
        content: ' ';
        background: url(../img/tire.png) 100%;
}
.tire_left_menu > a:active, .discs_left_menu> a:active, .bolts_left_menu> a:active {
    color: #104265;
}
.tire_left_menu_ul, .discs_left_menu_ul, .bolts_left_menu_ul{
    width: 150px;
        margin-top: -3px;
        margin-left: 78px;
}
.tire_left_menu_ul> li {
    padding-top: 5px;
}
.tire_left_menu_ul> li> a, .discs_left_menu_ul> li> a, .bolts_left_menu_ul> li > a {
    font-family: 'lucida_sans_unicoderegular';
        font-size: 13px;
        display: block;
        margin-bottom: .1px;
        padding-left: 13px;
        letter-spacing: -0.2px;
        text-decoration: none;
        color: #475860;
        background: url(../img/marker_li.png) no-repeat 2px 6px;
        background-size: 5.6%;
}
.tire_left_menu_ul> li> a:hover, .discs_left_menu_ul> li> a:hover, .bolts_left_menu_ul> li> a:hover {
    font-family: Arial;
        font-size: 14px;
        font-weight: bold;
        font-style: italic;
        display: block;
        padding: 2px 0 3px 12px;
        text-decoration: none;
        text-decoration: underline;
        color: #002e7d;
        border: 0;
        background: url(../img/marker_li_bold.png) no-repeat 2px 6px;
        background-size: 5.6%;
}

/*НАСТРОЙКИ В BLOCK1 для КАТАЛОГ ПРОДУКЦИИ/ДИСКИ!*/

.discs_left_menu > a {
        margin-top: -1px;
}

.discs_left_menu> a:before {
    margin-left: -27px;
}
.discs_left_menu_ul> li {
    padding-top: 4.5px;
}

/*НАСТРОЙКИ В BLOCK1 для КАТАЛОГ ПРОДУКЦИИ/БОЛТЫ!*/

.bolts_left_menu > a {
    margin-top: -1px;
}

.bolts_left_menu> a:before {
    margin-left: -27px;
}
.bolts_left_menu_ul> li {
    padding-top: 4.5px;
}

.bolts_left_menu ul{
    margin-top:-2px;
}

/*ПРАВЫЙ BLOCK3 БРЕНДЫ*/

.brands {
    width: 180px;
    margin-top: 11px;
    margin-left: 11px;
    padding: 0 0 2px 0;
    border: 1px solid #aeb6b9;
    border-radius: 12px;
    -webkit-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, .4);
    -moz-box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, .4);
    box-shadow: 3px 3px 8px -1px rgba(0, 0, 0, .4);
}
.brands a {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 14px;
    display:inline-block;
    margin-top: 1px;
    margin-left: 29px;
    text-decoration: none;
    color: #104265;
}
.brands a:active {
    color: #104265;
}
.brands a:before {
    position: absolute;
    display: inline-block;
    width: 23px;
    height: 20px;
    margin-top: 1px;
    margin-left: -28px;
    content: ' ';
    background: url(../img/icon.png) 100%;
}

/*BLOCK3 ШИНЫ*/

.tires_right_menu > a, .discs_right_menu> a{
        width: 104px;
        border: 1px solid #aeb6b9;
        border-radius: 12px;
        font-family: 'lucida_sans_unicoderegular';
        font-size: 14px;
        display: block;
        margin-top: 14px;
        margin-left: 25px;
        padding: 2px 0 2px 30px;
        text-decoration: none;
        color: #104265;
}

.tires_right_menu> a:active, .discs_right_menu> a:active {
    color: #104265;
}
.tires_right_menu> a:before, .discs_right_menu> a:before {
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 23px;
    margin-top: -1px;
    margin-left: -27px;
    content: ' ';
    background: url(../img/tire.png) 100%;
}
.tires_right_menu_checkbox, .discs_right_menu_checkbox {
margin-left: 35px;
}
input[type='checkbox'] {
    position: absolute;
    z-index: -1000;
    left: -1000px;
    display: none;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
input[type='checkbox']+ label span {
    font-size: 11px;
    line-height: 13px;
    display: inline-block;
    height: 13px;
    margin-top: -1px;
    padding-left: 26px;
    cursor: pointer;
    vertical-align: middle;
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_80bd7531008aa503319b332e424f94c7.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
input[type='checkbox']:checked+ label span {
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: url(http://csscheckbox.com/checkboxes/u/csscheckbox_80bd7531008aa503319b332e424f94c7.png);
    background-position: 0 -13px;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}
label[for='brand1'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-left: 0;
    text-indent: 0;
    letter-spacing: .1px;
}
label[for='brand2'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-left: 0;
    text-indent: 0;
    letter-spacing: .1px;
}
label[for='brand3'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-left: 0;
    text-indent: 0;
    letter-spacing: .1px;
}

/*BLOCK3 ДИСКИ*/

.discs_right_menu> a {
margin-top: 11px;
}
.discs_right_menu> a:before {
margin-left: -29px;

}
.discs_right_menu_checkbox {
margin-top: 2px;
}
label[for='brand01'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-left: 0;
    text-indent: 0;
    letter-spacing: .1px;
}
label[for='brand02'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-left: 0;
    text-indent: 0;
    letter-spacing: .1px;
}
label[for='brand03'] {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 12px;
    display: block;
    padding-top: 5px;
    padding-left: 0;
    text-indent: 0;
    letter-spacing: .1px;
}
input[id='enter'] {
    font-family: Arial;
    font-size: 11px;
    width: 82px;
    margin: 17px 0 0 34px;
    padding: 6px 2px 8px 2px;
    letter-spacing: 0.8px;
    color: #fff;
    border: none;
    border-radius: 11px;
    background: #1e6787;
    background: -moz-linear-gradient(top, #1e6787 -1%, #1e6787 8%, #0d3358 100%);
    background: -webkit-linear-gradient(top, #1e6787 -1%, #1e6787 8%, #0d3358 100%);
    background: linear-gradient(to bottom, #1e6787 -1%, #1e6787 8%, #0d3358 100%);
    -webkit-box-shadow: 4px 5px 3px -2px rgba(184, 184, 184, 1);
    -moz-box-shadow: 4px 5px 3px -2px rgba(184, 184, 184, 1);
    box-shadow: 4px 5px 3px -2px rgba(184, 184, 184, 1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e6787', endColorstr='#0d3358', GradientType=0);
}
input[type='submit']:hover {
    cursor: pointer;
}
input[id='enter']:hover {
    cursor: pointer;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e6787+0,0a2b47+100 */
    background: #1e6787;
    /* Old browsers */
    background: -moz-linear-gradient(top, #1e6787 0%, #0a2b47 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e6787 0%, #0a2b47 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e6787 0%, #0a2b47 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    -webkit-box-shadow: 0 1px 6px 2px rgba(30, 87, 109, 1);
    -moz-box-shadow: 0 1px 6px 2px rgba(30, 87, 109, 1);
    box-shadow: 0 1px 6px 2px rgba(30, 87, 109, 1);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#1e6787', endColorstr='#0a2b47', GradientType=0);
    /* IE6-9 */
}

/*НАСТРОЙКИ ДЛЯ BLOCK2*/

.block2 {
    float: left;
    box-sizing: border-box;
    width: 52.5%;
    margin-top: 13px;
    border-radius: 6px;
    background: #e6e7e9;
    background: -moz-linear-gradient(top, #e6e7e9 0%, #93a7b0 100%);
    background: -webkit-linear-gradient(top, #e6e7e9 0%, #93a7b0 100%);
    background: linear-gradient(to bottom, #e6e7e9 0%, #93a7b0 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e6e7e9', endColorstr='#93a7b0', GradientType=0);
}

/*ШИНЫ Goodyear первый столбик*/

.first-column, .second-column, .third-column {
    float: left;
        box-sizing: border-box;
        margin-top: 9px;
        margin-bottom: 6px;
        margin-left: 24px;
}
.first-column a, .second-column a, .third-column a {
    text-decoration: none;
}
.first-column a img, .second-column a img, .third-column a img {
    margin-top: -2px;
    margin-left: -2px;
    text-align: center;
}
.tire_tittle, .tire_tittle2, .tire_tittle3 {
    font-family: 'lucida_sans_unicoderegular';
    font-size: 15px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: -10px;
    margin-left: 33px;
    color: #206989;
    display: block;
}
.tire_model, .tire_model2, .tire_model3 {
    font-family: 'lucida_sans_unicoderegular';
        font-size: 12px;
        margin-top: 2px;
        margin-left: 13px;
        letter-spacing: .4px;
        color: #000;
        display: block;
}
.cost_of_tire_value, .cost_of_tire_value2, .cost_of_tire_value3 {
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    padding-left: 37px;
    color: #114366;
}
.cost_of_tire_grn, .cost_of_tire_grn2, .cost_of_tire_grn3 {
    font-family: Arial;
    font-size: 12px;
    font-weight: bold;
    font-style: italic;
    padding-left: 2px;
    letter-spacing: .5px;
    color: #114366;
}

.tire_tittle3{
    margin-left: 45px;
        margin-top: 0;
}

/*Колесо GoodYear 3 столбец 1 кривой - настр*/

.tire_tittle_different {
    margin-top: 1px;
    margin-left: 32px;
}
.tire_model_different {
    margin-left: 12px;
    letter-spacing: 0.4px;
}

/*ШИНЫ Nokian 2 столбик*/

.second-column {
    margin-top: 9px;
    margin-left: 21px;
}

.second-column a img {
    margin: -2px 0 1px 4px;
}
.tire_tittle2 {
    margin-left: 50px;
}
.tire_model2 {
    margin-left: 29px;
        margin-top: 1px;
        letter-spacing: 0.4px;
}
.cost_of_tire_value2 {
    padding-left: 38px;
    letter-spacing: .1px;
}
.cost_of_tire_grn2 {
    padding-left: 5px;
}

/*ШИНЫ Hankook 3 столбик*/

.third-column {
    margin-top: 11px;
    margin-left: 21px;
}
.third-column a img {
    margin: -3px 0 0 5px;
}
.name_of_tire3 {
    margin-bottom: -9px;
    margin-left: 45px;
}
.tire_model3 {
    margin-left: 16px;
    letter-spacing: .6px;
}
.cost_of_tire_value3 {
    padding-left: 38px;
    letter-spacing: .1px;
}
.cost_of_tire_grn3 {
    padding-left: 4px;
    color: #114366;
}
.st_line {
    position: relative;
    overflow: hidden;
}
.nd_line {
    position: relative;
    overflow: hidden;
}
.rd_line {
    position: relative;
        overflow: hidden;
        margin-bottom: 20px;
        margin-top: 5px;
}
.clearfix {
    display: block;
    visibility: hidden;
    clear: both;
    content: '';
}
footer {
    position: relative;
    width: 910px;
}
.top_footer {
    padding-bottom: 23px;
}
.top_footer ul {
    margin-top: 38px;
    margin-left: 160px;
}
.top_footer li {
    display: table-cell;
    padding-right: 13px;
    vertical-align: middle;
}
.bottom_footer {
    width: 910px;
        margin-left: 44px;
        padding-bottom: 52px;
        text-align: center;
        background-color: #213a4e;
}
.bottom_footer ul {
    margin: 0 auto;
}
.bottom_footer li {
    font-family: Arial;
    font-size: 12px;
    display: inline-block;
    margin-top: 10px;
    padding: 1px 15px 0 7px;
    letter-spacing: 0.2px;
    border-right: 1px solid #fff;
}
.bottom_footer a {
    text-decoration: none;
    color: #fff;
}
.bottom_footer a:hover {
    color: #3d7691;
}
.bottom_footer span {
    padding: 0 1px;
    vertical-align: middle;
    color: #fff;
}
.bottom_footer li:nth-child(4n) {
    margin-right: -10px;
    border: transparent;
}
.bottom_footer p {
    font-size: 11px;
    margin-top: 14px;
    margin-left: -2px;
    color: #804740;
}
