@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&subset=latin-ext');
// font-family: 'Josefin Sans', sans-serif;
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');
// font-family: 'Cormorant Garamond', serif;

@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
