@font-face {
    font-family: 'league_gothicregular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/leaguegothic-regular-webfont.woff2') format('woff2'), url('../fonts/leaguegothic-regular-webfont.woff') format('woff'), url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'), url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
}
@font-face {
    font-family: 'open_sanslight';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff');
}
@font-face {
    font-family: 'LeagueGothicRegular';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/LeagueGothicRegular.eot');
    src: url('../fonts/LeagueGothicRegular.eot?#iefix')format('embedded-opentype'), url('../fonts/LeagueGothicRegular.woff') format('woff'), url('../fonts/LeagueGothicRegular.ttf') format('truetype');
}
@font-face {
    font-family: 'OpenSansExtraBold';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot');
    src: url('../fonts/OpenSansExtraBold/OpenSansExtraBold.eot?#iefix')format('embedded-opentype'), url('../fonts/OpenSansExtraBold/OpenSansExtraBold.woff') format('woff'), url('../fonts/OpenSansExtraBold/OpenSansExtraBold.ttf') format('truetype');
}
html, body {
    font-family: 'league_gothicregular';
    height: 100%;
}
header {
    background: url('../img/head-img.jpg') no-repeat;
}

/*@media (max-width:479px){
    .wrapper{
        width:90%;
        margin: 0 auto;
    }

    .menu{
        position:absolute;
        background: red;
    }
    .menu__item{
        display: none;
    }
    .menu__item--curr{
        display: block;
    }
    .menu:hover .menu__item{
        display:block;
    }
}

@media (min-width:480px) and (min-width: 767px){
    .wrapper{
        width:90%;
        min-width: 480px;
        margin: 0 auto;
    }
    .menu__item{
        float:left;
    }
}

@media (min-width:768px) and (min-width: 959px){
    .wrapper{
        width:90%;
        min-width: 768px;
        margin: 0 auto;
    }
    .menu__item{
        float:left;
    }
}*/

@media (min-width:960px) {
    .wrapper {
        width: 963px;
        margin: 0 auto;
    }
    .wrapper:after {
        display: block;
        clear: both;
        overflow: hidden;
        content: ' ';
    }
    .header_logo {
        margin-top: 71px;
    }
    .menu {
        float: right;
        margin-top: 71px;
        margin-right: 4px;
    }
    .menu:after {
        display: table;
        clear: both;
        overflow: hidden;
        content: ' ';
    }
    .menu__item {
        display: inline-block;
        margin-left: 49.5px;
    }
    .menu__link {
        font-family: 'league_gothicregular';
        font-size: 24px;
        margin-bottom: 1px;
        text-decoration: none;
        color: #fff;
        border-bottom: .5px solid transparent;
        text-shadow: rgb(50, 50, 50) 1px 1px 2px;
    }
    .menu__item:nth-child(5) {
        letter-spacing: -.9px;
    }
    .menu__link:hover {
        border-bottom: 2px solid #edbfff;
    }
    .slider {
        position: relative;
        margin-top: 164px;
        background-color: rgba(50, 50, 50, .5);
    }
    .slider:after {
        display: block;
        clear: both;
        overflow: hidden;
        content: ' ';
    }
    .slider-left {
        float: left;
        width: 515px;
    }
    .slider-img {
        position: relative;
        float: right;
        margin: -17px 73px 18px 0;
    }
    .slider-right:after {
        display: table;
        clear: both;
        overflow: hidden;
        content: ' ';
    }
    .slider__mainHead {
        font-size: 59px;
        font-weight: 100;
        margin-top: 72px;
        margin-left: 1px;
        color: #fff;
        text-shadow: black 0 2px 4px;
    }
    .slider__mainHead span:nth-child(2) {
        letter-spacing: -.6px;
    }
    .slider__mainHead span:nth-child(3) {
        margin-left: 1px;
        letter-spacing: -.5px;
    }
    .slider__secHead {
        font-size: 31.8px;
        font-weight: 100;
        margin-top: -10px;
        color: #efbeff;
    }
    .slider__text {
        font-family: 'open_sanslight';
        font-size: 17.6px;
        line-height: 24px;
        margin-top: 3px;
        letter-spacing: .1px;
        color: #f6f4f7;
    }
    .slider-box {
        float: right;
        margin-top: 92px;
        margin-right: 168px;
        margin-bottom: 54px;
    }
    .slider-box li {
        display: inline-block;
    }
    .slider-box a {
        position: relative;
        display: block;
        width: 19px;
        height: 19px;
        content: ' ';
        background: url('../img/slider.png');
    }
    .slider-box a:hover {
        position: relative;
        display: block;
        width: 19px;
        height: 19px;
        content: ' ';
        background: url('../img/slider.png') 100%;
    }
    .column {
        color: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #fff;
        background: rgba(116, 80, 131, 1);
        background: -moz-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116, 80, 131, 1)), color-stop(100%, rgba(50, 37, 57, 1)));
        background: -webkit-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        background: -o-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        background: -ms-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        background: linear-gradient(to bottom, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        -webkit-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .11);
        -moz-box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .11);
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .11);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539', GradientType=0);
    }
    .column-block {
        display: inline-block;
        box-sizing: border-box;
        width: 222px;
        margin-top: 72px;
        margin-bottom: 67px;
    }
    .column-block__tittle:hover:before {
        margin-top: 2px;
        cursor: pointer;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
    }
    .column-block__tittle:before {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 6px;
        margin-left: -55px;
        content: ' ';
        background: url(../img/tool.png) no-repeat;
    }
    .column-block--tittle2:before {
        margin-top: 8px;
        margin-left: -56px;
        background: url(../img/think.png) no-repeat;
    }
    .column-block--tittle3:before {
        margin-top: 6px;
        margin-left: -56px;
        background: url(../img/melody.png) no-repeat;
    }
    .column-block:first-child {
        margin-left: 65px;
    }
    .column-block:nth-child(2) {
        margin-left: 114px;
    }
    .column-block:last-child {
        margin-left: 113px;
    }
    .column-block__tittle {
        font-family: 'LeagueGothicRegular';
        font-size: 28px;
        font-weight: 100;
        margin-top: 3px;
        letter-spacing: .3px;
        text-transform: uppercase;
        text-shadow: 1px 1px 4px #000;
    }
    .column-block__text {
        font-family: 'open_sanslight';
        font-size: 15.9px;
        line-height: 24px;
        margin-top: 6px;
        margin-left: -3px;
        word-wrap: break-word;
    }
    .column-block__link {
        font-size: 18px;
        float: right;
        margin-top: 17px;
        margin-right: 9px;
        text-decoration: none;
        color: white;
        text-shadow: 1px 1px 4px #000;
    }
    .column-block__link:hover {
        text-shadow: white 0 0 10px;
    }
    .column-block--link {
        /*Another parametr in maket for this elemt*/
        margin-right: 4px;
    }
    .column2 {
        background-color: rgb(249, 249, 249);
    }
    .feed-wrap {
        float: left;
        width: 450px;
    }
    .feedback {
        display: inline-block;
        width: 430px;
        margin-top: 100px;
        margin-left: 20px;
        background-color: #fff;
    }
    .feed-wrap:after{
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        overflow:hidden;
    }
    .feedback__name {
        font-size: 30px;
        font-weight: 400;
        display: inline-block;
        margin-top: 25px;
        margin-left: 43px;
        letter-spacing: -.1px;
    }
    .feedback--tittle:before {
        position: absolute;
        display: block;
        width: 50px;
        height: 51px;
        margin-top: -7px;
        margin-left: -166px;
        content: ' ';
        background: url('../img/photo-per.png') no-repeat;
    }
    .feedback--tittle {
        margin-left: 3px;
        color: #efbeff;
    }
    .feedback__text {
        font-family: 'open_sanslight';
        font-size: 15.9px;
        line-height: 24px;
        width: 350px;
        margin-top: 6px;
        margin-bottom: 35px;
        margin-left: 42px;
    }
    .slider-box--curr {
        float: inherit;
        margin: 0;
        display: block;
        margin-top: 24px;
        margin-bottom: 0;
        margin-left: 195px;
    }
    .slider-box:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        overflow:hidden;
    }
    .slider-box--curr a {
        position: relative;
        display: block;
        width: 19px;
        height: 19px;
        content: ' ';
        background: url('../img/slider2.png');
    }
    .slider-box--curr a:hover {
        position: relative;
        display: block;
        width: 19px;
        height: 19px;
        content: ' ';
        background: url('../img/slider2.png') 21px 20px;
    }
    .updates {
        float: left;
        width: 510px;
        margin-top: 100px;
    }
    .updates a{
        color: black;
            margin-bottom: 89px;
        text-decoration: none;
    }
    .updates:after{
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        overflow:hidden;
    }
    .updates__tittle {
        font-size: 30.1px;
        font-weight: 400;
        margin-top: 25px;
        margin-left: 60px;
        letter-spacing: -.1px;
    }
    .updates__name {
        font-family: 'OpenSansExtraBold';
        font-size: 16px;
        margin-top: 14px;
        margin-left: 126px;
    }
    .updates__name:before{
        position: absolute;
        margin-left: -65px;
        margin-top: -1px;
        display: block;
        width: 49px;
        height: 49px;
        content: ' ';
        background: url('../img/upd-icon1.png') no-repeat;
    }
    .updates--name2:before{
        background: url('../img/upd-icon2.png') no-repeat;
    }
    .updates--name3:before{
        background: url('../img/upd-icon3.png') no-repeat;
    }
    .updates__content {
        font-family: 'open_sanslight';
        font-size: 16px;
        margin-top: 2px;
        margin-left: 126px;
        letter-spacing: -.1px;
    }
    .updates--name2 {
        margin-top: 21px;
    }
    .updates--name3 {
        margin-top: 18px;
    }
    .updates__link {
        font-size: 18px;
        float: right;
        margin-top: 22px;
        margin-right: 21px;
        text-decoration: none;
        color: black;
    }
    .sponsors{
        border-top:1px solid rgb(230, 230, 230);
        border-bottom:1px solid rgb(216, 216, 216);
    }

    .sponsors-menu{
        margin: 24px 0 26px 94px;
    }

    .sponsors-menu li{
        display: inline-block;
            margin-top: 1px;
    }

    .sponsor-menu__sponsor1{
        content: ' ';
        display: block;
        position: relative;
        height: 65px;
        width: 110px;
        background: url('../img/logos.png') no-repeat;
    }

    .sponsor2{
        background: url('../img/logos.png') -132px 0 no-repeat;
            margin-left: 20px;
    }
    .sponsor3{
        background:url('../img/logos.png') -264px 0 no-repeat;
            margin-left: 20px;
    }
    .sponsor4{
        background: url('../img/logos.png') -394px 0 no-repeat;
        margin-left: 17px;
    }
    .sponsor5{
        background: url('../img/logos.png') -522px 0 no-repeat;
        margin-left: 15px;
    }
    .sponsor6{
        background: url('../img/logos.png') -682px 0 no-repeat;
            margin-left: 48px;
    }

    .sponsors__menu li{
        display: inline-block;
    }

    .column3{
        background-color: rgb(236, 236, 236);
    }

    .column3-blocks{
        width: 285px;
        float: left;
        margin-top: 92px;
        box-sizing: border-box;
    }

    .column3-block__text{
        margin-top: 10px;
        font-family: 'open_sanslight';
        letter-spacing: -0.1px;
        font-size: 16px;
        line-height: 24px;
    }

    .column3-block--text{
        margin-top: 5px;
    }

    .column3-blocks--curr2{
        margin-top: 92px;
    margin-left: 53px;
    letter-spacing: -0.1px;
    }

    .column3-block-same__tittle{
        font-size:30px;
    }

    .column3-blocks--curr3{
        margin-top: 92px;
    margin-left: 55px;
    letter-spacing: -0.1px;
    }

    .column3-block1__tittle{
        font-family: 'LeagueGothicRegular';
        text-shadow: 0 0 2px rgb(225, 225, 225);
        font-size: 46.4px;
        color: rgb(69, 69, 69);
        font-weight: 100;
    }

    .column3-block1__tittle span{
        color: rgb(186, 186, 186);
    }

    .culumn3-block1__copyright{
    font-family: georgia;
    margin-top: 8px;
    font-style: italic;
    font-size: 15.5px;
    color: rgb(200, 200, 200);
    }

    .column3-blocks--curr3:after{
        content: '.';
        visibility: hidden;
        overflow:hidden;
        height: 0;
        display:block;
    }

    .red{
        height:200px;
        background-color: red;
    }


    footer{
        height:400px;
    }


}
