<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MYSITE</title>
    <script src="js/template.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>


  <div class="wrapper">

    <form action="#">

    </form>

  </div>


  <script type="text/html" id="page">

      <div class="title"> <%= title %> </div>


          <% for(var i = 0; i < questions.length; i++) { %>

            <ol type="a">
              <p><%= 'Вопрос №' + (i + 1) + ' ' + questions[i] %></p>
              <% for(var j = 0; j < options[i].length; j++) { %>
              <li>
                <input type="radio" name="questions_<%= (i+1) %>" value="<%= 'question_' + (i + 1) + '_' + (j + 1) %>" id="<%= 'question_' + (i + 1) + '_' + (j + 1) %>" >
                <label for="<%= 'question_' + (i + 1) + '_' + (j + 1) %>"><%= options[i][j] %></label>
                <br>
              </li>
              <% } %>
            </ol>

            <% } %>

            <button class="btn"> <%= button %> </button>




  </script>


</body>

</html>
