<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MYSITE</title>
    <script src="js/template.js" charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/script.js" charset="utf-8"></script>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
</head>

<body>


  <div class="wrapper">

    <form action="#">

    </form>

  </div>


  <script type="text/html" id="page">
      <div class="title"> Test </div>

            <ol type="a">

              <p><%= question1.title %></p>
              <% for(var i = 0; i < question1.answers.length; i++) { %>
              <li>
                <input type="radio" name="question1" value="<%= 'question1_' + (i + 1) %>" id="<%= 'question1_' + (i + 1) %>" >
                <label for="<%= 'question1_' + (i + 1) %>"><%= question1.answers[i] %></label>
                <br>
              </li>
              <% } %>

            </ol>

            <ol type="a">

              <p><%= question2.title %></p>
              <% for(var i = 0; i < question2.answers.length; i++) { %>
              <li>
                <input type="radio" name="question2" value="<%= 'question2_' + (i + 1) %>" id="<%= 'question2_' + (i + 1) %>" >
                <label for="<%= 'question2_' + (i + 1) %>"><%= question2.answers[i] %></label>
                <br>
              </li>
              <% } %>

            </ol>

            <ol type="a">

              <p><%= question3.title %></p>
              <% for(var i = 0; i < question3.answers.length; i++) { %>
              <li>
                <input type="radio" name="question3" value="<%= 'question3_' + (i + 1) %>" id="<%= 'question3_' + (i + 1) %>" >
                <label for="<%= 'question3_' + (i + 1) %>"><%= question3.answers[i] %></label>
                <br>
              </li>
              <% } %>

            </ol>

            <button class="btn"> Check </button>




  </script>


</body>

</html>
