body{
  background: url(../img/background.png) no-repeat;
  -moz-background-size: 100%; /* Firefox 3.6+ */
  -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%; /* Opera 9.6+ */
  background-size: 100%; /* Современные браузеры */
  font-family: Tahoma, Arial, sans-serif;
}

#wrapper{
  width: 850px;
  height: 750px;
  margin: 0 auto;
}

header{
  height: 145px;
}

.asia{
  position: absolute;
}

.contacts{
  width: 140px;
  color: #fff;
  margin-left: 688px;
  padding-top: 85px;
  font-size: 10px;
}

.contacts > p:first-child{
  font-weight: bold;
  padding-bottom: 4px;
}

.contacts > p > a{
  text-decoration: none;
  color: #fff;
}

.contacts > a:visited{
  color: #fff;
}

.verx > li{
  display: inline-block;
  margin-bottom: 60px;
}

.verx > li > p{
  color: #fff;
  text-align: center;
  margin-top: -7px;
}

.niz > li{
  display: inline-block;
}

.niz > li > p{
  color: #fff;
  text-align: center;
  margin-top: -7px;
}

footer > p{
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding-top: 130px;
}
