body {
    background-color: #d3d3d3;
    font-family: Arial;
}
.tittle {
    text-align: center;
}
.photo {
    text-align: center;
}
.photo img {
    width: 250px;
    height: 190px;
}
.wrapper {
    width: 610px;
    /* ширина */
    height: 1069px;
    /* высота */
    padding: 51px 80px 30px 80px;
    /* внутренние отступы - верх, право, низ, лево */
    margin: auto;
    /* выравнивание по центру */
    border: 1px ridge #808080;
    /*ширина, тип рамки: dotted, dashed, solid, double, groove, ridge, inset, outset*/
    background-color: #fff;
    /* цвет фона в блоке */
    -webkit-box-shadow: 0px 0px 41px -4px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 41px -4px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 41px -4px rgba(0, 0, 0, 1);
}
.top, .part2, .part3 {
    padding: 10px 0px 0px 0px;
    border-bottom: solid 1px #808080;
}
.bottom {
    padding: 10px 0px 0px 0px;
}
.list {
    font-size: 23px;
    line-height: 1.5;
    margin-left: 10px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.text, .text1, .text2 {
    font-size: 25px;
    margin-left: 20px;
}
.tel, .link, .text3 {
    display: inline-block;
    font-size: 22px;
    padding: 5px 20px 20px;
    color: #000000;
    text-decoration: none;
}
.tel:active {
    color: #000;
}
.text2 {
    margin-bottom: 10px;
}
.text3 {
  margin: 0;
}
