@import "base/reset";
@import "base/fonts";
@import "base/sprite";
@import "helpers/mixins";
@import "vendors/slider";

$color: #535358;

html, body {
  overflow-x: hidden !important;
  font-family: 'Josefin Sans', sans-serif;
}
input, button {
  cursor: pointer;
}

header {
  position: relative;
  overflow: hidden;
}
.h-contancts, .h-main, .h-panel {
  float: left;
  box-sizing: border-box;
  @extend %clearfix;

}
.h-contancts {
  width: 30%;
}
.h-main {
  width: 40%;
}
.h-panel {
  width: 30%;
}
.h-contacts__phone {
  font-size: 33px;
  margin: 106px 460px 50px 97px;
  display: inline-block;
  text-decoration: none;
  color: #535358;
  padding-bottom: 4px;
  border-bottom: 1px solid transparent;
  @include links(border-bottom, 1px solid black, 1px solid black)
}
.h-contacts__list {
  display: block;
  padding: 14px 20px 20px 40px;
}

.h-contacts__item {
  padding: 0 17px;
  display: inline-block;
}
.h-contacts__phone:before {
  position: absolute;
  background-image: url(../img/phone.png);
  margin-left: -40px;
  margin-top: 1px;
  width: 34px;
  height: 40px;
}

.h-contacts__phone:before, .h-contacts__facebook, .h-contacts__insta, .h-contacts__twitter, .h-main__logo span, .slick-next .slick-arrow, .slick-prev .slick-arrow {
  display: block;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.h-contacts__facebook {
  background-image: url('../img/facebook.png');
}
.h-contacts__twitter {
  background-image: url('../img/twitter.png');
}
.h-contacts__insta {
  background-image: url('../img/insta.png');
}
.h-main__logo {
  margin: 100px 350px 58px;
  display: block;
}
.h-main__logo span {
  background-image: url('../img/logo.png');
  margin: 0 auto;
  width: 387px;
  height: 186px;
}
.h-contacts__facebook, .h-contacts__twitter, .h-contacts__insta {
  width: 75px;
  height: 75px;
  @include links(opacity, 0.1, 0.1);
}

.h-panel {
  padding: 110px 0 20px 95px;
}
.h-panel__log, .h-panel__acc, .h-panel__bag {
  display: inline-block;
}
.h-panel__log a, .h-panel__acc a, .h-panel__bag a {
  padding: 2px;
  text-decoration: none;
  font-size: 28px;
  border-bottom: 1px solid transparent;
  color: $color;
  @include links(border-bottom, 1px solid #000, 1px solid #000);
}
.h-panel__bag:before {
  display: block;
  position: absolute;
  content: "";
  margin-left: -44px;
  margin-top: -5px;
  background-image: url('../img/bag.png');
  width: 32px;
  height: 32px;
}

.h-panel__log .h-panel__sign {
  border-right: 2px solid #aaa;
  display: inline-block;
  padding: 2px 11px 2px 2px;
}

.h-panel__sign, .h-panel__reg {
  text-decoration: none;
}

.h-panel__acc {
  padding-left: 40px;
}

.h-panel__bag {
  padding-left: 93px;
}
input[placeholder] {
  color: $color
  ::-webkit-input-placeholder {
    color: $color
  }
  ::-moz-placeholder {
    color: $color
  }/* Firefox 19+ */
  :-moz-placeholder {
    color: $color
  }/* Firefox 18- */
  :-ms-input-placeholder {
    color: $color
  }
}
.h-panel__form {
  padding: 58px 0 0 2px;
}
.h-panel__search {
  vertical-align: top;
      font-size: 34px;
      width: 627px;
      box-sizing: border-box;
      font-family: Josefin Sans,sans-serif;
      padding: 17px 23px 17px 23px;
      background: #eaf0f2;
      border: 1px solid #aaa;
}
.h-panel__btn {
  padding: 13px 22px 17px 18px;
  vertical-align: top;
  background: $color;
  border: 1px solid transparent;
  @include links(background, #dbccbc, #dbccbc);
  @include links(border, 1px solid #c28f78, 1px solid #c28f78);
}

.h-panel__btn-h{
  @include links(background, #dbccbc, #dbccbc);
  @include links(border, 1px solid #c28f78, 1px solid #c28f78);
}

.h-panel__btn span {
  display: block;
  content: "";
  background-image: url('../img/magn.png');
  width: 45px;
  height: 45px;
}

.menu__list {
  background: #222223;
  text-align: center;
}
.menu__item {
  display: inline-block;
  a {
    font-size: 38px;
    color: #dbccbc;
    text-decoration: none;
    display: block;
  }
}

.menu__link {
  padding: 21px 0 15px;
  border-bottom: 4px solid transparent;
}

.menu__link:hover, .menu__link-active {
  color: #fff;
  border-bottom: 4px solid #fff;
}

.menu__item {
  padding: 0 87px;
}

.brands__list, .ladies__list {
  display: none;
  margin-left: -50px;
  padding-top: 20px;
  padding-bottom: 6px;
  position: absolute;
  z-index: 3;
  text-align: left;
  background: #fff;
}

.brands__item a, .ladies__item a {
  padding: 11px 42px;
  text-decoration: none;
  color: #000;
}

.about-us {
  position: relative;
  overflow: hidden;
  background: url(../img/banner.jpg) no-repeat 0 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.about-us__title {
  font-size: 100px;
      margin: 0 210px 0 290px;
      text-align: center;
      line-height: 120px;
      padding: 165px 0px 40px;
      text-transform: uppercase;
      border-bottom: 3px solid #828281;

}
.about-us__text {
  text-align: center;
   padding: 38px 100px 40px 90px;
   line-height: 63px;
   margin-left: 90px;
font-size: 51px;

}
.about-us__btn, .about-us__btn2 {
  font-size: 37px;
  border: 0;
    &:hover {
      background: #dbccbc;
    }
}

.about-us__content {
  width: 1400px;
      float: right;
      color: #fff;
}

.about-us__btn2, .about-us__btn  {
  margin-top: 38px;
  padding: 22px 67px 20px 70px;
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 40px;
  padding: 22px 36px 20px 38px;
  vertical-align: top;
  margin-bottom: 202px;
}

.about-us__btn {
  padding: 22px 67px 20px 70px;
  margin-left: 365px;
}

main {
    margin: auto;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -js-display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-pack: distribute;
    padding-bottom: 33px;
}
.main-lates {
  order: 3;
}
.main-product {
  order: 1;
}
.main-difference {
  order: 0;
  text-align: center;
  background: #eaf0f2;
}
.main-difference__content {
  margin: 28px 27px 30px;
  border: 1px solid #ddd1c3;
}
.main-news{
  order: 2;
}
.main-lates, .main-product {

  width: 1501px;
  margin: 60px 0px 30px 31px;
}

.main-difference, .main-news {
  width: 1195px;
  margin: 60px 30px 30px 62px;
}

.main-difference__title {
  font-size: 87px;
  padding: 248px 0 40px;
  position: relative;
}
.main-difference__title:before, .main-difference__title:after {
  content: "";
  display: block;
  position: absolute;
  height: 8px;
  width: 8px;
  z-index: 2;
  top: 78%;
  margin-left: 13%;
  background: url(../img/point.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.main-difference__title:after {
  right: 12.5%;
}
.main-difference__description {
  font-size: 42px;
  padding: 2px 120px 216px;
  line-height: 50px;
}
.main-product {
  background: url(../img/clocks.jpg) no-repeat;
  background-size: cover;
}
.main-product__description {
  height: 100%;
  width: 679px;
  float: right;
  background: hsla(255,0%,100%,.9);
  @extend %clearfix;
}

.main-product__title {
  font-size: 93px;
  font-weight: 600;
  padding-left: 15px;
}

.main-product__text {
  font-size: 55px;
  padding-top: 18px;
  padding-left: 13px;
}

.main-product__text-wrap {
  line-height: 0.87;
  margin: 183px 0 10px;
  border-left: 24px solid #dbccbc;
}

.main-product__text2 {
  text-align: justify;
  font-size: 36px;
padding: 64px 45px;
letter-spacing: 0.1px;
line-height: 42px;
font-family: 'Cormorant Garamond';
}

.main-product__btn {
  vertical-align: top;
  border: 2px solid #c99c87;
  font-size: 46px;
  padding: 17px 18px 12px 26px;
  font-family: 'Josefin Sans';
  margin: 134px 0 0 332px;
}

.main-news {
  background: url(../img/winter.jpg) no-repeat;
  background-size: cover;
  margin: 30px 30px 30px 62px;
}

.main-news__description {
  margin-top: 700px;
  background: hsla(0,0%,100%,.8);
}

.main-news__title {
  padding-top: 68px;
  font-size: 109px;
  text-align: center;
}

.main-news__text {
  font-size: 67px;
text-align: center;
font-weight: 300;
padding-top: 21px;
}

.main-news__text2 {
  font-size: 35px;
      display: inline-block;
      font-family: 'Cormorant Garamond';
      width: 740px;
      text-align: justify;
        padding: 33px 0 22px 50px;
      letter-spacing: -0.2px;
      line-height: 42px;
}

.main-news__btn {
  vertical-align: top;
  display: inline-block;
  margin: 44px 0 0 55px;
  padding: 17px 89px 12px;
  font-family: Josefin Sans;
  font-size: 46px;
  border: 2px solid #c99c87;
}
.main-product__btn:hover, .main-news__btn:hover {
  background: #dbccbc;
  border-color: #595959;
}

.main-lates {
    margin: 30px 0 30px 31px;
}

.main-lates__title {
  background: #eee7df;
  font-size: 74px;
  font-weight: 600;
  padding: 35px 38px;
  letter-spacing: -0.5px;
}

.main-lates__slider {
  position: relative;
}
.main-lates__slider-wrap {
  padding: 53px 166px 5px 81px;
}

.slick-next, .slick-prev {
  text-indent: -9999px;
  border: 0;
  background-color: #fff;
  background-image: url(../img/prev.png);
  z-index: 1;
  position: absolute;
  top: 41%;
  width: 27px;
  height: 82px;
  margin-left: -20px;
}
//
.slick-next {
  background-image: url('../img/next.png');
  right: -8.5%;
  margin-left: 0;
}

.main-lates__model, .main-lates__number, .main-lates__price {
  text-align: center;
  padding: 27px 0 0 40px;
  font-size: 25px;
  font-weight: 700;
}

.main-lates__number {
    padding: 5px 20px 6px 65px;
}

.main-lates__price {
  font-size: 36px;
    padding: 0 0 0 50px;
}

.main-lates__text {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 47px;
  background: #eee6de;
  font-size: 47px;
  background: #eee6de;
  padding: 30px 40px 27px 40px;
  letter-spacing: -0.2px;
  margin: 36px 0;
}

.main-lates__rate {
  font-size: 44px;
  margin: 65px 2px 0;
  letter-spacing: -0.1px;
  font-weight: 300;
  background: #eaf0f2;
  border: 1px solid #888;
  &:hover {
    border: 1px solid #595959;
  }
  a {
    display: block;
    padding: 43px 0 43px 180px;
    text-decoration: none;
    color: #000;
    &:hover {
      color: #333;
    }
  }
}

.rating {
  padding: 38px 0 25px;
  background: #eee7df;
  text-align: center;
}

.rating__text, .rating__point, .rating__img {
  display: inline-block;
}

.rating__text {
  font-size: 46px;
      font-weight: bold;
      font-family: Arial;
          margin-left: 20px;
}

.rating__point {
  font-size: 46px;
    font-weight: 400;
    padding-left: 50px;
    font-family: Arial;
    font-weight: 400;
padding-left: 70px;
}

.rating__img {
    padding-left: 70px;
}
.rating__img span {
  background-image: url('../img/rating-comp.png');
  width: 333px;
  height: 37px;
  content: "";
  display: block;
}

footer {
  padding-bottom: 22px;
  background: #222223;
  position: relative;
  overflow: hidden;
  border-left: 1px solid #eee7df;
  border-right: 1px solid #eee7df;
}

.f-column {
  box-sizing: border-box;
  float: left;
  padding: 94px 0 40px;
  @extend %clearfix;
}
.f-column:first-child {
  width: 939px;
}

.f-newsletter__title, .f-follow-us__text, .f-information__title, .f-customer-service__title {
  font-size: 34px;
  color: #eee7df;
  padding: 0 58px;
}
.f-newsletter__form {
  margin: 31px 0 0 59px;
}
.f-newsletter__srch {
  border: 0;
}
.f-newsletter__srch, .f-newsletter__btn {
  height: 80px;
font-size: 34px;
font-family: 'Josefin Sans';
vertical-align: top;
}

.f-newsletter__srch {
  width: 482px;
  box-sizing: border-box;
  padding: 18px 18px 17px 18px;
  &::-webkit-input-placeholder {color:#363639;}
  &::-moz-placeholder          {color:#363639;}/* Firefox 19+ */
  &:-moz-placeholder           {color:#363639;}/* Firefox 18- */
  &:-ms-input-placeholder      {color:#363639;}
}

.f-newsletter__btn {
  margin-top: 0;
  border: 1px solid #a1a1a1;
  padding: 18px 36px 14px 30px;
  &:hover {
    background: #dbccbc;
    border: 1px solid #c28f78;
  }

}

.f-follow-us {
    padding: 60px 0 30px;
}

.f-follow-us__list {
  padding:36px;
}
.f-follow-us__item {
  display: inline-block;
  margin: 0 19px;
  a {
    display: block;
  }
}


.f-created__link {
  display: block;
  margin-left: 60px;
}
.f-created__link span {
  background-image: url(../img/created.png);
  width: 673px;
  height: 42px;
  display: block;
  content: "";
}
.f-column:nth-child(2) {
  width: 577px;
}
.f-information, .f-customer-service, .f-contacts {
    border-left: 4px solid #ffffff;
}
.f-information__title {
      padding-left: 47px;
}
.f-information__list, .f-customer-service__list {
  padding: 30px 0 115px;
}
.f-information__item, .f-customer-service__item {
  display: block;
  padding: 9px 48px 7px;
  a {
    padding-bottom: 2px;
    border-bottom: 2px solid transparent;
    &:hover {
      border-bottom: 2px solid #fff;
    }
  }
}
.f-information__link, .f-customer-service__link {
  font-size: 28px;
  text-decoration: none;
  color: #fff;
  font-family: "HelveticaLight";
}
.f-column {
  width: 628px;
}
.f-customer-service__list {
  padding-bottom: 71px;
}
.f-customer-service__title {
    padding-left: 40px;
}
.f-customer-service__item {
  padding: 8.5px 40px;
}

.f-contacts__phone a{
  text-decoration: none;
  font-size: 34px;
  color: #eee7df;
  margin: 2px 95px 0;
  display: inline-block;
  padding-bottom: 3px;
  border-bottom: 2px solid transparent;
  &:hover {
    border-bottom: 2px solid #eee7df;
  }
}
.f-contacts__phone a:before {
  background-image: url(../img/phone-f.png);
  width: 30px;
  height: 36px;
  content: "";
  position: absolute;
  display: block;
  margin-left: -46px;
  margin-top: 4px;
}
.f-column:nth-child(4) {
  width: 728px;
}
.f-contacts__address, .f-contacts__company, .f-contacts__office {
  font-size: 26px;
  font-family: "HelveticaLight";
  color: #fff;
}

.f-contacts__address {
  padding: 38px 350px 10px 46px;
  line-height: 32px;
}

.f-contacts__company {
  padding: 21px 380px 10px 46px;
  line-height: 32px;
}

.f-contacts__office {
  padding: 21px 140px 52px 46px;
  line-height: 32px;
}

@media (min-width: 2880px) {
  .wrapper {
    width: 2880px;
    margin: 0 auto;
  }
}
@media (min-width: 1920px) and (max-width: 2880px)  {
  .wrapper {
    width: 1920px;
    margin: 0 auto;
  }
  .h-contacts__phone {
    font-size: 22px;
    margin: 72px 66px 20px;
  }
  .h-contacts__phone:before {
    margin-left: -29px;
    width: 24px;
    height: 27px;
  }
  .h-contacts__list {
      padding: 20px 27px 20px 27px;
  }
  .h-contacts__item{
    padding: 0 11px;
  }
  .h-contacts__facebook, .h-contacts__insta, .h-contacts__twitter {
    width: 50px;
    height: 50px;
  }
  .h-main__logo span {
    width: 260px;
    height: 193px;
  }
  .h-main__logo {
    margin: 34px 0 0;
  }
  .h-panel__acc a, .h-panel__bag a, .h-panel__log a {
    font-size: 18px
  }
  .h-panel {
    padding: 74px 0 20px 70px;
  }
  .h-panel__acc {
    padding-left: 26px;
  }
  .h-panel__bag {
    padding-left: 64px;
  }
  .h-panel__bag:before {
    margin-left: -31px;
    margin-top: -5px;
    width: 22px;
    height: 22px;
      background-repeat: no-repeat;
      background-size: contain;
  }
  .h-panel__form {
    padding: 39px 0 0 2px;
  }
  .h-panel__search {
    font-size: 22px;
        width: 420px;
        padding: 12px 17px 11px;
  }
  .h-panel__btn, .h-panel__search {
    height: 50px;
  }
  .h-panel__btn {
    padding: 7px 13px 7px 12px;
  }
  .h-panel__btn span {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header {
    padding-bottom: 4px;
  }
  .menu__item {
    padding: 0 59px;
  }
  .menu__item a {
    font-size: 25px;
  }
  .menu__link {
    padding: 18px 0 7px;
  }
  .about-us__content {
    width: 1000px;
}
  .about-us__title {
    font-size: 67px;
        margin: 0 127px 0 260px;
        line-height: 81px;
        padding: 111px 0px 25px;
  }
  .about-us__text {
        padding: 22px 75px 32px 210px;
        line-height: 44px;
        margin-left: 0px;
        font-size: 34px;
  }

  .about-us__btn, .about-us__btn2 {
    font-size: 25px;
        margin-top: 18px;
        margin-left: 28px;
        padding: 15px 24px 14px 22px;
        vertical-align: top;
        margin-bottom: 134px;
  }

  .about-us__btn {
    padding: 16px 44px 13px 47px;
    margin-left: 315px;
  }

  .main-difference, .main-news {
    width: 800px;
    margin: 42px 24px 22px 41px;
  }

  .main-difference__content {
    margin: 20px 18px 21px;
    border: 1px solid #ddd1c3;
  }
  .main-difference__title {
    font-size: 59px;
    padding: 163px 0 14px;
  }

  .main-difference__description {
    font-size: 28px;
    padding: 13px 90px 141px;
    line-height: 34px;
  }

  .main-lates, .main-product {
    width: 1006px;
    margin: 41px 0 0 18px;
  }

  .main-product__title {
    font-size: 62px;
    font-weight: 600;
    padding-left: 10px;
  }

  .main-product__text {
    font-size: 36px;
    padding-top: 16px;
    padding-left: 10px;
  }

  .main-product__text2 {
    font-size: 23px;
        padding: 36px 30px 36px 30px;
        line-height: 29px;
  }
  .main-product__text-wrap {
    margin: 123px 0 10px;
    border-left: 16px solid #dbccbc;
  }
  .main-product__btn {
    font-size: 30px;
    padding: 12px 16px 8px 19px;
    margin: 95px 0 0 221px;
  }
  .main-product__description {
    width: 454px;
  }
  .main-news__description {
      margin-top: 469px;
  }
  .main-news__title {
    padding-top: 45px;
    font-size: 74px;
  }
  .main-news__text {
    font-size: 45px;
    padding-top: 16px;
  }
  .main-news__text2 {
    font-size: 23px;
        width: 490px;
        padding: 19px 0 22px 35px;
        letter-spacing: -0.3px;
        line-height: 28px;
  }
  .main-news__btn {
    margin: 27px 0 0 39px;
    padding: 13px 61px 8px 60px;
    font-size: 30px;
  }
  .main-lates__title {
    font-size: 47px;
        padding: 24px 29px;
        letter-spacing: .5px;
  }
  .main-product {
    background: url(../img/clocks.jpg) no-repeat;
    background-size: contain;
  }
  .main-news, .main-lates {
    margin-top: 20px;
  }
  .slick-slide img {
    width: 323px;
  }
  .main-lates__slider-wrap {
    padding: 34px 80px 5px 60px;
  }

  .slick-next, .slick-prev {
    width: 18px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slick-next {
    right: -4.5%;
  }
  .main-lates__model, .main-lates__number, .main-lates__price {
    padding: 15px 0 0 5px;
        font-size: 16px;
  }
  .main-lates__number {
    padding: 5px 60px 6px 65px;
  }
  .main-lates__price {
    font-size: 24px;
    padding: 0 0 0 5px;
  }
  .main-lates__text {
    font-size: 32px;
    padding: 20px 28px 18px;
    letter-spacing: -0.5px;
    margin: 28px 0;
  }
  .main-lates__rate {
    font-size: 30px;
    margin: 44px 0px 0;
    letter-spacing: -0.3px;
  }
  .main-lates__rate a {
    padding: 26px 0 29px 120px;
  }
  main {
    padding-bottom: 15px;
  }
  .rating {
    padding: 26px 0 9px 7px;
  }
  .rating__point, .rating__text {
    font-size: 30px;
        vertical-align: top;
  }
  .rating__img, .rating__point {
    padding-left: 48px;
  }
  .rating__img span {
    background-repeat: no-repeat;
    background-size: contain;
    width: 227px;
  }
  .f-column {
    box-sizing: border-box;
    float: left;
    padding: 61px 0 40px;
  }
  .f-column:first-child {
    width: 628px;
    }
  .f-customer-service__title, .f-follow-us__text, .f-information__title, .f-newsletter__title {
    font-size: 23px;
    letter-spacing: -.3px;
    color: #eee7df;
    padding: 0 39px;
  }
  .f-newsletter__form {
    margin: 23px 0 0 38px;
  }
  .f-newsletter__srch {
    width: 322px;
    padding: 0px 12px 0;
  }
  .f-newsletter__btn, .f-newsletter__srch {
    height: 50px;
    font-size: 23px;
  }
  .f-newsletter__btn {
    margin-top: 0;
    padding: 12px 23px 14px 19px;
  }
  .f-follow-us {
      padding: 43px 0 0;
  }
  .f-follow-us__item img {
    width: 68%;
  }
  .f-follow-us__list {
    padding: 21px 36px;
  }
  .f-follow-us__item {
    display: inline-block;
    margin: 0;
  }
  .f-created__link {
    display: block;
    margin-top: 23px;
    margin-left: 36px;
  }
  .f-created__link span {
    background-repeat: no-repeat;
        background-size: contain;
        width: 450px;
  }
  .f-contacts, .f-customer-service, .f-information {
    border-left: 2px solid #fff;
  }
  .f-column:nth-child(2) {
    width: 385px;
  }
  .f-information__title, .f-customer-service__title {
    padding-left: 30px;
  }
  .f-customer-service__item, .f-information__item {
    display: block;
    padding: 5px 31px 6px;
  }
  .f-customer-service__list, .f-information__list {
    padding: 25px 0 80px;
  }
  .f-customer-service__link, .f-information__link {
    font-size: 19px;
  }
  .f-customer-service__list {
    padding-bottom: 51px;
  }
  .f-column:nth-child(3) {
    width: 420px;
  }
  .f-contacts__phone a {
    font-size: 23px;
    margin: 2px 65px 0;
  }
  .f-contacts__phone a:before {
    width: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -32px;
    margin-top: 0px;
  }
  .f-contacts__address {
    padding: 25px 200px 10px 35px;
    line-height: 22px;
  }
  .f-contacts__address, .f-contacts__company, .f-contacts__office {
    font-size: 18px;
    letter-spacing: -0.3px;
  }
  .f-contacts__company {
    padding: 11px 240px 2px 35px;
    line-height: 22px;
  }
  .f-contacts__office {
    padding: 19px 70px 60px 33px;
    line-height: 20px;
  }
  .f-column:nth-child(4) {
    width: 480px;
  }
}

@media (min-width: 1440px) and (max-width: 1920px)  {
  .wrapper {
    width: 1440px;
    margin: 0 auto;
  }
  .h-contacts__phone {
    font-size: 16px;
    margin: 53px 51px 20px;
  }
  .h-contacts__phone:before {
    margin-left: -25px;
    width: 20px;
    height: 20px;
  }
  .h-contacts__list {
    padding: 10px 22px;
  }
  .h-contacts__item{
    padding: 0 7px;
  }
  .h-contacts__facebook, .h-contacts__insta, .h-contacts__twitter {
    width: 38px;
    height: 38px;
  }
  .h-main__logo span {
    width: 194px;
    height: 125px;
  }
  .h-main__logo {
    margin: 35px 0px 0px;
  }
  .h-panel__acc a, .h-panel__bag a, .h-panel__log a {
    font-size: 14px
  }
  .h-panel {
    padding: 54px 0 10px 46px;
  }
  .h-panel__log .h-panel__sign {
    border-right: 2px solid #aaa;
    display: inline-block;
    padding: 1px 5px 1px 2px;
  }
  .h-panel__acc {
    padding-left: 19px;
  }
  .h-panel__acc a, .h-panel__bag a, .h-panel__log a {
    padding: 0px;
  }
  .h-panel__bag {
    padding-left: 46px;
  }
  .h-panel__bag:before {
    margin-left: -22px;
    margin-top: 0px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .h-panel__form {
    padding: 28px 0 0 2px;
  }
  .h-panel__search {
    font-size: 17px;
    width: 314px;
    padding: 13px 12px 11px;
  }
  .h-panel__btn, .h-panel__search {
    height: 39px;
  }
  .h-panel__btn {
    padding: 5px 11px 7px 10px;
  }
  .h-panel__btn span {
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  header {
    padding-bottom: 12px;
  }
  .menu__item {
    padding: 0 43px;
  }
  .menu__item a {
    font-size: 19px;
  }
  .menu__link {
    padding: 11px 0 5px;
  }
  .brands__list, .ladies__list {
    padding-top: 10px;
  }
  .brands__item a, .ladies__item a {
    padding: 7px 42px;
  }
  .about-us__content {
    width: 50%;
}
  .about-us__title {
    font-size: 50px;
    margin: 0 97px 0 153px;
    line-height: 60px;
    padding: 83px 0 19px;
  }
  .about-us__text {
    padding: 17px 63px 23px 120px;
    line-height: 31px;
    margin-left: 0;
    font-size: 25px;
  }

  .about-us__btn, .about-us__btn2 {
    font-size: 19px;
        margin-top: 18px;
        margin-left: 19px;
        padding: 10px 15px 10px 17px;
        vertical-align: top;
    margin-bottom: 100px;
  }

  .about-us__btn {
    padding: 11px 32px 9px 34px;
    margin-left: 202px;
  }

  .main-difference, .main-news {
    width: 597px;
    margin: 32px 18px 11px 32px;
  }

  .main-difference__content {
      margin: 13px 13px 13px;
      border: 1px solid #ddd1c3;
  }
  .main-difference__title {
    font-size: 44px;
    padding: 123px 0 14px;
  }

  .main-difference__description {
    font-size: 21px;
    padding: 5px 60px 107px;
    line-height: 26px;
  }

  .main-lates, .main-product {
    width: 750px;
    margin: 32px 0 0 12px;
  }

  .main-product__title {
    font-size: 46px;
    font-weight: 600;
    padding-left: 10px;
  }

  .main-product__text {
    font-size: 27px;
        padding-top: 10px;
        padding-left: 8px;
  }

  .main-product__text2 {
    font-size: 17px;
        padding: 26px 23px;
        line-height: 21px;
  }
  .main-product__text-wrap {
    margin: 91px 0 10px;
    border-left: 12px solid #dbccbc;
  }
  .main-product__btn {
    font-size: 23px;
    padding: 9px 10px 6px 12px;
    margin: 73px 0 0 166px;
  }
  .main-product__description {
    width: 339px;
  }
  .main-news__description {
      margin-top: 350px;
  }
  .main-news__title {
    padding-top: 33px;
    font-size: 54px;
  }
  .main-news__text {
    font-size: 33px;
    padding-top: 11px;
  }
  .main-news__text2 {
    font-size: 18px;
        width: 371px;
        padding: 15px 0 22px 24px;
        letter-spacing: -.3px;
        line-height: 22px;
  }
  .main-news__btn {
    margin: 24px 0 0 25px;
        padding: 8px 45px 6px 44px;
        font-size: 22px;
  }
  .main-lates__title {
    font-size: 36px;
    padding: 18px 18px 17px;
    letter-spacing: 0.5px;
  }
  .main-product {
    background: url(../img/clocks.jpg) no-repeat;
    background-size: contain;
  }
  .main-news, .main-lates {
    margin-top: 20px;
  }
  .slick-slide img {
    width: 238px;
  }
  .main-lates__slider-wrap {
    padding: 27px 60px 5px 40px;
  }
  .slick-next, .slick-prev {
    margin-left: -9px;
  }
  .slick-next, .slick-prev {
    width: 13px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slick-next {
    right: -4.5%;
  }
  .main-lates__model, .main-lates__number, .main-lates__price {
    padding: 12px 0 0 14px;
        font-size: 12px;
  }
  .main-lates__number {
    padding: 3px 51px 6px 65px;
  }
  .main-lates__price {
    font-size: 18px;
    padding: 0px 0 0 15px;
  }
  .main-lates__text {
    font-size: 24px;
    padding: 15px 20px 13px;
    letter-spacing: -0.4px;
    margin: 18px 0;
  }
  .main-lates__rate {
    font-size: 23px;
    margin: 33px 0 0;
    letter-spacing: -0.4px;
  }
  .main-lates__rate a {
    padding: 21px 0 20px 89px;
  }
  main {
    padding-bottom: 10px;
  }
  .rating {
    padding: 19px 0 13px 7px;
  }
  .rating__point, .rating__text {
    font-size: 23px;
    vertical-align: top;
  }
  .rating__img, .rating__point {
    padding-left: 31px;
  }
  .rating__img span {
    background-repeat: no-repeat;
    background-size: contain;
    width: 170px;
    height: 20px;
  }
  .rating__text {
    margin-left: 6px;
  }
  .f-column {
    box-sizing: border-box;
    float: left;
    padding: 47px 0 10px;
  }
  .f-column:first-child {
      width: 469px;
    }
  .f-customer-service__title, .f-follow-us__text, .f-information__title, .f-newsletter__title {
    font-size: 18px;
        letter-spacing: -0.6px;
        color: #eee7df;
        padding: 0 28px;
  }
  .f-newsletter__form {
      margin: 16px 0 0 29px;
  }
  .f-newsletter__srch {
    width: 241px;
    padding: 0 10px;
  }
  .f-newsletter__btn, .f-newsletter__srch {
    height: 37px;
    font-size: 17px;
  }
  .f-newsletter__btn {
    margin-top: 0;
    padding: 9px 17px 9px 15px;
  }
  .f-follow-us {
    padding: 32px 0 0;
  }
  .f-follow-us__item img {
    width: 37px;
  }
  .f-follow-us__list {
    padding: 16px 21px;
  }
  .f-follow-us__item{
    margin: 0 8px;
  }

  .f-created__link {
    display: block;
    margin-top: 17px;
    margin-left: 27px;
  }
  .f-created__link span {
    background-repeat: no-repeat;
    background-size: contain;
    width: 338px;
  }
  .f-contacts, .f-customer-service, .f-information {
    border-left: 1px solid #fff;
  }
  .f-column:nth-child(2) {
    width: 288px;
  }
  .f-information__title, .f-customer-service__title {
    padding-left: 23px;
  }
  .f-customer-service__item, .f-information__item {
    display: block;
    padding: 3px 23px 4px;
  }
  .f-customer-service__list, .f-information__list {
    padding: 13px 0 55px;
  }
  .f-customer-service__link, .f-information__link {
    font-size: 14px;
  }
  .f-customer-service__list {
    padding-bottom: 33px;
  }
  .f-column:nth-child(3) {
    width: 313px;
  }
  .f-contacts__phone a {
    font-size: 17px;
    margin: 1px 49px 0;
  }
  .f-contacts__phone a:before {
    width: 16px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -24px;
    margin-top: 0px;
  }
  .f-contacts__address {
    padding: 16px 170px 10px 26px;
    line-height: 16px;
  }
  .f-contacts__address, .f-contacts__company, .f-contacts__office {
    font-size: 13px;
    letter-spacing: 0px;
  }
  .f-contacts__company {
    padding: 5px 190px 2px 25px;
    line-height: 17px;
  }
  .f-contacts__office {
    padding: 12px 68px 42px 24px;
    line-height: 16px;
  }
  .f-column:nth-child(4) {
    width: 365px;
  }
  footer {
    padding-bottom: 0px;
  }

  .menu__link {
    padding: 11px 0 7px;
    border-bottom: 2px solid transparent;
  }
  .menu__link:hover {
    border-bottom: 2px solid #fff;
  }

}

@media (min-width: 1024px) and (max-width: 1440px)  {
  .wrapper {
    width: 1024px;
    margin: 0 auto;
  }
  .h-contacts__phone {
    font-size: 12px;
    margin: 38px 34px 19px;
    letter-spacing: -0.1px;
  }
  .h-contacts__phone:before {
    margin-left: -15px;
    width: 14px;
    height: 14px;
  }
  .h-contacts__list {
    padding: 1px 15px;
  }
  .h-contacts__item{
    padding: 0 6px;
  }

  .h-main__logo span {
    width: 140px;
    height: 97px;
  }
  .h-main__logo {
    margin: 20px 0 0;
  }
  .h-panel__acc a, .h-panel__bag a, .h-panel__log a {
    font-size: 10px
  }
  .h-panel {
    padding: 35px 0 10px 33px;
  }
  .h-panel__log .h-panel__sign {
    border-right: 1px solid #aaa;
    display: inline-block;
    padding: 1px 3px 1px 2px;
  }
  .h-panel__acc {
    padding-left: 11px;
  }
  .h-panel__acc a, .h-panel__bag a, .h-panel__log a {
    padding: 0px;
  }
  .h-panel__bag {
    padding-left: 32px;
  }
  .h-panel__bag:before {
    margin-left: -15px;
    margin-top: 3px;
    width: 11px;
    height: 11px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .h-panel__form {
    padding: 18px 0 0 2px;
  }
  .h-panel__search {
    font-size: 12px;
    width: 224px;
    padding: 13px 9px 11px;
  }
  .h-panel__btn, .h-panel__search {
    height: 28px;
  }
  .h-panel__btn {
    padding: 5px 7px 7px 6px;
  }
  .h-panel__btn span {
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .about-us__title {
    font-size: 35px;
        margin: 0 72px 0 116px;
        line-height: 45px;
        padding: 57px 0px 12px;
  }
  .main-difference__title:after, .main-difference__title:before {
    height: 6px;
    width: 6px;
    top: 76%;
  }
  .main-difference, .main-news {
    width: 426px;
    margin: 23px 18px 11px 22px;
  }

  .main-difference__content {
      margin: 9px;
      border: 1px solid #ddd1c3;
  }
  .main-difference__title {
    font-size: 31px;
    padding: 88px 0 14px;
  }

  .main-difference__description {
    font-size: 15px;
    padding: 2px 40px 78px;
    line-height: 18px;
  }

  .main-lates, .main-product {
    width: 534px;
    margin: 23px 0 0 4px;
  }

  .main-product__title {
    font-size: 33px;
    font-weight: 600;
    padding-left: 6px;
  }

  .main-product__text {
    font-size: 19px;
        padding-top: 8px;
        padding-left: 6px;
        letter-spacing: 0.1px;
  }

  .main-product__text2 {
    font-size: 12px;
    padding: 17px 17px;
    line-height: 15px;
  }
  .main-product__text-wrap {
    margin: 65px 0 10px;
    border-left: 8px solid #dbccbc;
  }

  .main-product__description {
  width: 242px;
  }
  .main-news__description {
    margin-top: 249px;
  }
  .main-news__title {
    padding-top: 24px;
    font-size: 39px;
  }
  .main-news__text {
    font-size: 24px;
    padding-top: 8px;
    letter-spacing: -0.2px;
  }
  .main-news__text2 {
    font-size: 13px;
    width: 265px;
    padding: 12px 0 2px 17px;
    letter-spacing: -.3px;
    line-height: 15px;
  }
  .main-news__btn {
    margin: 15px 0 0 16px;
        padding: 6px 32px 4px 32px;
        font-size: 16px;
        border: 1px solid #c99c87;
  }

  .main-product {
    background: url(../img/clocks.jpg) no-repeat;
    background-size: contain;
  }
  .main-news, .main-lates {
      margin-top: 11px;
  }
  .slick-slide img {
    width: 170px;
  }
  .main-lates__slider-wrap {
    padding: 19px 44px 5px 28px;
  }
  .slick-next {
    right: -5.5%;
  }
  .main-lates__model, .main-lates__number, .main-lates__price {
    padding: 8px 0 0 11px;
    font-size: 9px;
  }
  .main-lates__number {
    padding: 3px 51px 2px 65px;
  }
  .main-lates__price {
    font-size: 13px;
    padding: 0 0 0 11px;
  }

  main {
    padding-bottom: 17px;
  }
  .f-column {
    box-sizing: border-box;
    float: left;
    padding: 33px 0 10px;
  }
  .f-column:first-child {
      width: 334px;
    }

  .f-column:nth-child(2) {
    width: 205px;
  }

  .f-column:nth-child(3) {
    width: 223px;
  }

  .f-column:nth-child(4) {
    width: 258px;
  }
  footer {
    padding-bottom: 7px;
  }
}












@media (min-width: 768px) and (max-width: 1440px)  {
  .h-contacts__facebook, .h-contacts__insta, .h-contacts__twitter {
    width: 25px;
    height: 25px;
  }
  .menu__item {
    padding: 0 29px;
  }
  .menu__item a {
    font-size: 14px;
  }
  .menu__link {
    padding: 7px 0 5px;
    border-bottom: 2px solid transparent;
  }
  .menu__link:hover {
    border-bottom: 2px solid #fff;
  }
  .brands__list, .ladies__list {
    padding-top: 10px;
  }
  .brands__item a, .ladies__item a {
    padding: 5px 30px;
  }
  .about-us__content {
    width: 50%;
  }
  header {
    padding-bottom: 5px;
  }
  .about-us__text {
    padding: 12px 50px 12px 95px;
    line-height: 23px;
    margin-left: 0;
    font-size: 18px;
  }
  .about-us__btn, .about-us__btn2 {
    font-size: 13px;
    margin-top: 15px;
    margin-left: 12px;
    padding: 7px 13px 8px 14px;
    vertical-align: top;
    margin-bottom: 71px;
  }

  .about-us__btn {
    padding: 8px 25px 7px 25px;
    margin-left: 145px;
  }
  .main-product__btn {
    font-size: 16px;
    padding: 5px 8px 5px 11px;
    margin: 55px 0 0 117px;
    border: 1px solid #c99c87;
  }
  .main-lates__title {
    font-size: 26px;
        padding: 12px 13px 13px;
        letter-spacing: 0px;
  }
  .slick-next, .slick-prev {
    margin-left: -6px;
        width: 13px;
        height: 28px;
        background-repeat: no-repeat;
        background-size: contain;
  }
  .main-lates__text {
    font-size: 17px;
    padding: 10px 13px 10px;
    letter-spacing: -0.2px;
    margin: 12px 0;
  }
  .main-lates__rate {
    font-size: 16px;
    margin: 23px 0 0;
    letter-spacing: -.4px;
  }
  .main-lates__rate a {
    padding: 14px 0 15px 63px;
    letter-spacing: -0.1px;
  }

  .rating {
    padding: 14px 22px 8px 7px;
  }
  .rating__point, .rating__text {
    padding-left: 21px;
    font-size: 17px;
    vertical-align: top;
  }
  .rating__img, .rating__point {
    vertical-align: top;
    padding-left: 21px;
  }
  .rating__img span {
    background-repeat: no-repeat;
    background-size: contain;
    width: 120px;
    height: 15px;
  }
  .rating__text {
      margin-left: 0px;
  }
  .f-customer-service__title, .f-follow-us__text, .f-information__title, .f-newsletter__title {
    font-size: 13px;
    letter-spacing: -0.5px;
    color: #eee7df;
    padding: 0 20px;
  }
  .f-newsletter__form {
    margin: 12px 0 0 21px;
  }
  .f-newsletter__srch {
    width: 170px;
    padding: 0 7px;
  }
  .f-newsletter__btn, .f-newsletter__srch {
    height: 26px;
    font-size: 12px;
  }
  .f-newsletter__btn {
    margin-top: 0;
    padding: 6px 13px 9px 11px;
  }
  .f-follow-us {
    padding: 22px 0 0;
  }
  .f-follow-us__item img {
    width: 27px;
  }
  .f-follow-us__list {
    padding: 12px 15px;
  }
  .f-follow-us__item{
      margin: 0 5px;
  }

  .f-created__link {
    display: block;
    margin-top: 10px;
    margin-left: 18px;
  }
  .f-created__link span {
    background-repeat: no-repeat;
    background-size: contain;
    width: 242px;
    height: 20px;
  }
  .f-contacts, .f-customer-service, .f-information {
    border-left: 1px solid #fff;
  }
  .f-information__title, .f-customer-service__title {
    padding-left: 16px;
  }
  .f-customer-service__item, .f-information__item {
    display: block;
    padding: 0px 17px 0px;
  }
  .f-customer-service__list, .f-information__list {
    padding: 9px 0 43px;
  }
  .f-customer-service__link, .f-information__link {
    font-size: 10px;
  }
  .f-customer-service__list {
    padding-bottom: 27px;
  }
  .f-contacts__phone a {
    font-size: 12px;
    margin: 0px 35px 0;
  }
  .f-contacts__phone a:before {
    width: 11px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -17px;
    margin-top: -1px;
  }
  .f-contacts__address {
    padding: 7px 100px 7px 17px;
    line-height: 12px;
  }
  .f-contacts__address, .f-contacts__company, .f-contacts__office {
    font-size: 10px;
    letter-spacing: -0.1px;
  }
  .f-contacts__company {
    padding: 3px 120px 2px 17px;
    line-height: 12px;
  }
  .f-contacts__office {
    padding: 8px 34px 27px 18px;
    line-height: 13px;
  }
  .f-customer-service__item a, .f-information__item a {
    padding-bottom: 0px;
  }
  .f-customer-service__item a:hover, .f-information__item a:hover {
    border-bottom: 1px solid #fff;
  }


}













@media (min-width: 768px) and (max-width: 1024px)  {
  .wrapper {
    width: 768px;
    margin: 0 auto;
  }
  .h-contacts__phone {
    font-size: 10px;
    margin: 38px 34px 10px;
    letter-spacing: -0.1px;
  }
  .h-contacts__phone:before {
    margin-left: -15px;
        margin-top: 0px;
        width: 11px;
        height: 11px;
  }
  .h-contacts__list {
    padding: 1px 15px;
  }
  .h-contacts__item{
    padding: 0 6px;
  }

  .h-main__logo span {
    width: 140px;
    height: 97px;
  }
  .h-main__logo {
    margin: 20px 0 0;
  }
  .h-panel__acc a, .h-panel__bag a, .h-panel__log a {
    font-size: 10px
  }
  .h-panel__acc, .h-panel__bag, .h-panel__log {
    display: block;
    text-align: right;
    padding: 0 30px;
  }
  .h-panel {
    padding: 35px 0 10px 33px;
  }
  .h-panel__log .h-panel__sign {
    border-right: 1px solid #aaa;
    display: inline-block;
    padding: 1px 3px 1px 2px;
  }
  .h-panel__acc a, .h-panel__bag a, .h-panel__log a {
    padding: 0px;
  }
  .h-panel__bag:before {
    margin-left: 72px;
    margin-top: 4px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .h-panel__form {
    padding: 10px 0 0 0;
  }
  .h-panel__search {
    font-size: 10px;
    width: 150px;
    padding: 10px 7px 9px;
  }
  .h-panel__btn, .h-panel__search {
    height: 15px;
  }
  .h-panel__btn {
    padding: 4px 5px 15px 4px;
  }
  .h-panel__btn span {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .brands__list, .ladies__list {
    margin-left: -30px;
  }

  .about-us__title {
    font-size: 33px;
    margin: 0 42px 0 36px;
    line-height: 41px;
    padding: 37px 0 4px;
  }
  .about-us__text {
    padding: 12px 50px 12px 35px;
  }

  .about-us__btn {
    margin-left: 55px;
  }

  .main-difference, .main-news, .main-lates, .main-product {
    width: 100%;
    margin: 10px auto;
  }

  .main-difference__content {
      margin: 9px;
      border: 1px solid #ddd1c3;
  }
  .main-difference__title {
    font-size: 31px;
    padding: 88px 0 14px;
  }

  .main-difference__description {
    font-size: 15px;
    padding: 2px 40px 78px;
    line-height: 18px;
  }

  .main-product__title {
    font-size: 26px;
    text-align: center;
    padding: 20px 0 10px;
  }

  .main-product__text {
    font-size: 17px;
        text-align: center;
        padding: 0 10px;
        letter-spacing: .1px;
  }

  .main-product__text2 {
    font-size: 12px;
    padding: 17px 17px;
    line-height: 15px;
  }
  .main-product__text-wrap {
    margin: 40px 0 0 0;
    border-left: 6px solid #dbccbc;
  }
  .main-product__btn {
    margin: 10px 55px 10px;
  }

  .main-product__description {
      width: 30%;
  }
  .main-news__description {
    margin-top: 200px;
  }
  .main-news__title {
    padding-top: 24px;
    font-size: 39px;
  }
  .main-news__text {
    font-size: 24px;
    padding-top: 8px;
    letter-spacing: -0.2px;
  }
  .main-news__text2 {
    font-size: 13px;
    width: 265px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    display: block;
    letter-spacing: -.3px;
    line-height: 15px;
  }
  .main-news__btn {
    width: 20%;
    margin: 20px 40%;
    padding: 6px 32px 4px;
    font-size: 16px;
    border: 1px solid #c99c87;
  }
  .main-difference__title:after, .main-difference__title:before {
    height: 6px;
    width: 6px;
    z-index: 2;
    top: 76%;
    margin-left: 29%;
  }
  .main-difference__title:after {
    right: 28.5%;
  }
  .main-product {
    background-size: cover;
    background-position: 100%;
  }
  .main-news, .main-lates {
      margin-top: 11px;
  }
  .slick-slide img {
    width: 170px;
  }
  .main-lates__title {
    text-align: center;
  }
  .main-lates__slider-wrap {
      padding: 30px 30px 30px 60px;
  }
  .slick-next, .slick-prev {
    margin-left: -36px;
  }
  .slick-next {
    right: 0%;
  }
  .main-lates__model, .main-lates__number, .main-lates__price {
    padding: 6px 60px 1px 0;
    font-size: 12px;
  }

  .main-lates__text, .main-lates__rate, .main-lates__rate a {
    text-align: center;
    margin: 12px 0;
  }
  .main-lates__rate a {
    padding: 5px;
  }
  main {
    padding-bottom: 0;
  }
  footer {
    margin: auto;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -js-display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-pack: distribute;
  }

  .f-column {
    box-sizing: border-box;
    float: left;
    padding: 33px 0 10px;
  }
  .f-column:first-child {
      width: 100%;
      order: 3;
      text-align: center;
    }

  .f-column:nth-child(2), .f-column:nth-child(3), .f-column:nth-child(4) {
    width: 33.3%;
    box-sizing: border-box;
  }
  .f-information {
    border: 0;
  }
  .f-information, .f-customer-service, .f-contacts {
    padding-left: 20px;
  }
  .f-created__link span {
    margin: 10px auto;
  }
  .f-contacts__office {
    padding: 8px 34px 2px 18px;
  }

  footer {
    padding-bottom: 7px;
  }

}




@media (max-width: 768px)  {
  .wrapper {
    min-width: 768px;
    overflow: scrool;
  }
  .header-mobile {
    min-width: 768px;
    position: relative;
    overflow: hidden;
    overflow: scrool;
  }
  .header-mobile__burger, .header-mobile__logo, .header-mobile__settings {
    width: 20%;
    float:left;
    box-sizing: border-box;
    :after {
      clear:both;
      content: "";
      display: table;
      overflow: hidden;
    }
  }
  .header-mobile__logo {
      width: 50%;
      text-align: left;
      padding: 45px 0 21px 16%;
  }
  .header-mobile__settings {
    position: relative;
    overflow: hidden;
    width: 30%;
  }
  .header-mobile__search {
    padding: 50px 35px 0 49px;
  }
  .header-mobile__search, .header-mobile__bag {
    display: inline-block;
  }
  .header-mobile__burger {
    padding: 53px 21px 10px;
  }
  .header-mobile__amount {
    position: absolute;
    font-size: 27px;
    font-weight: 600;
    color: #000;
    margin-top: -54px;
    margin-left: 154px;
    z-index: 1;
    padding: 6px 12px;
    background: #dbccbc;
    border: 3px solid #000;
    border-radius: 40px;
    display: block;
    content: "";
  }
  .menu__list {
    display: none;
    background: #fff;
    text-align: left;
    margin-top: 10px;
    display: block;
    padding-bottom: 100px;
  }
  .menu__item {
    position: relative;
    display: block;
    padding: 0;
  }
  .menu__item a {
    font-size: 34px;
    font-weight: bold;
    margin: 0px 20px;
    padding: 23px 0 14px;
    color: #000;
    border-top: 3px dotted #aaa;
    border-bottom: none;
    &:hover {
      border-bottom: none;
      color: #000;
    }
  }
  .menu__item span, .f-information__title span, .f-customer-service__title span {
    position: absolute;
        font-size: 90px;
        font-weight: 400;
        top: -18px;
        right: 38px;
        color: #000;
        content: "+";
        display: block;
        cursor: pointer;
  }
  .brands__list, .ladies__list {
    // display: block;
    margin: 0;
    width: 100%;
  }
  .brands__item a, .ladies__list a {
    font-weight: 400;
    padding-left: 30px;
  }
  .sign-wrap {
    border-top: 3px dotted #aaa;
        margin: 0 20px;
  }
  .h-panel__sign, .h-panel__reg {
    display: inline-block !important;
    border-top: none !important;
    margin: 0 !important;
  }
  .h-panel__reg {
    padding-left: 10px;
  }
  .h-contacts__phone:before {
    margin-left: -43px;
    margin-top: 5px;
    width: 29px;
    height: 29px;
  }
  .h-contacts__phone {
    padding-left: 40px !important;
  }
  .h-contacts__phone {
    border-bottom: 3px dotted #aaa;
  }
  .about-us__content {
    width: 100%;
  }
  .about-us__title {
    font-size: 70px;
    margin: 0 70px;
    line-height: 86px;
    padding: 135px 0 29px;
  }

  .about-us__text {
    padding: 28px 40px 12px 25px;
        line-height: 43px;
        margin: 0;
        font-size: 37px;
  }
  .about-us__btn, .about-us__btn2 {
    font-size: 31px;
    margin-top: 31px;
    margin-left: 32px;
    padding: 26px 28px 24px 30px;
    vertical-align: top;
    margin-bottom: 50px;
  }
  .about-us__btn {
    padding: 25px 55px 25px;
    margin-left: 69px;
  }
  .main-lates__title {
    font-size: 63px;
    padding: 33px 0 10px;
    margin: 0 20px 0 0;
  }

  .main-lates__text {
    padding: 9px 50px 37px 37px;
    line-height: 42px;
    margin: 0;
    font-size: 35px;
  }
  .main-lates__slider-wrap {
    padding: 30px;
  }
  .main-lates__slider img {
    width: auto;
    margin: 0 auto;
  }
  .slick-next, .slick-prev {
    width: 24px;
    top: 41%;
    height: 70px;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .slick-next, .slick-prev {
        margin-left: 44px;
  }
  .slick-next {
    right: 64px;
  }
  .main-lates__model, .main-lates__number {
    padding: 62px 20px 1px 0;
    font-size: 27px;
    font-weight: 400;
  }

  .main-lates__number {
    padding: 6px 20px 1px 0;
  }

  .main-lates__price {
    font-weight: 600;
    font-size: 39px;
    padding-left: 39px;
  }
  .main-lates, .main-product, .main-difference, .main-difference, .main-lates__rate {
    margin: 0;
  }
  .main-lates {
    order: 0;
  }
  .main-product {
    order: 1;
    border-top: 40px solid #eee7df;
  }
  .main-product__text-wrap {
    border-left: 0;
  }

  .main-difference {
    order: 2;
    background: #fff;
  }

  .main-main-news {
    order: 3;
  }

  .main-lates__rate {
    order: 4;
    width: 100%;
    font-size: 38px;
    font-weight: 600;
  }

  .main-product__description {
    width: 100%;
    margin-top: 257px;
    height: auto;
  }
  .main-product__title {
    font-size: 81px;
    text-align: center;
    padding: 0 40px 10px 10px;
  }
  .main-product__text {
    font-size: 58px;
    text-align: center;
    padding: 13px 10px 13px 0px;
    letter-spacing: -0.6px;
  }
  .main-product__text2 {
    font-size: 28px;
    padding: 14px 70px 14px 68px;
    line-height: 35px;
  }
  .main-product__btn {
    margin: 22px 229px 44px;
    padding: 17px 25px 12px 22px;
    font-size: 46px;
  }
  .main-difference__title {
    font-size: 62px;
    padding: 73px 19px 14px 0;
  }
  .main-difference__title:after, .main-difference__title:before {
    height: 9px;
    width: 9px;
    z-index: 2;
    top: 67%;
    margin-left: 8%;
  }
  .main-difference__title:after {
    right: 9.5%;
  }
  .main-difference__description {
    font-size: 31px;
    padding: 7px 54px 59px 44px;
    line-height: 38px;
  }
  .main-difference__content {
    border: none;
  }
  .main-news__description {
    margin-top: 300px;
  }
  .main-news__title {
    padding-top: 38px;
    font-size: 61px;
  }
  .main-news__text {
    font-size: 37px;
    font-weight: 400;
    padding: 21px 10px 21px 0;
    letter-spacing: -.2px;
  }
  .main-news__text2 {
    font-size: 28px;
    width: auto;
    text-align: center;
    padding: 6px 70px 3px 60px;
    display: block;
    letter-spacing: -.3px;
    line-height: 35px;
  }
  .main-news__btn {
      width: 39%;
      margin: 30px 31% 37px 30%;
      padding: 16px 22px 13px;
      font-size: 46px;
      border: 1px solid #c99c87;
  }
  .main-lates__rate a {
    padding: 31px 10px 27px 0;
  }
  .rating__text, .rating__point, .rating__img {
    width: 100%;
    display: block;
  }
  .rating__text {
      font-size: 52px;
      margin: 9px -16px 2px;
  }
  .rating__point {
      font-size: 46px;
      margin: 4px -17px;
  }
  .rating__img {
    padding-left: 0;
    text-align: center;
    margin: 9px auto 20px;
  }
  .rating__img span {
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 37px;
    width: 333px;
  }
  .f-column {
    order: 1;
  }
  .f-contacts__phone {
    position: relative;
    order: 0;
    width: 100%;
    text-align: center;
    padding: 47px 4px 20px 30px;
  }

  .f-contacts__phone span {
    &:before, &:after {
      display: block;
      position: absolute;
      content: "";
      width: 186px;
      height: 2px;
      background: url(../img/line.png);
      top: 57%;

    }
    &:before {
    left: 5%;
    }
    &:after {
    right: 7%;
    }
  }

  .f-contacts__phone a {
    font-size: 34px;
  }
  .f-contacts__phone a:before {
    width: 36px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-left: -45px;
    margin-top: 3px;
  }

  .f-newsletter {
    width: 100%;
  }
  .f-newsletter__title {
    font-size: 31px;
    padding: 44px 39px 10px;
    letter-spacing: -0.2px;
  }
  .f-newsletter__form {
    margin: 19px 36px;
  }
  .f-newsletter__btn, .f-newsletter__srch {
    height: 76px;
  }
  .f-newsletter__srch {
    width: 484px;
    padding: 0 7px;
    font-size: 34px;
    padding-left: 20px;
  }
  .f-newsletter__btn {
    font-size: 34px;
    padding: 16px 35px 16px 34px;
    border-left: 3px solid #969696;
  }
  .f-newsletter__btn:hover {
    border-left: 3px solid #c28f78;
  }
  .f-follow-us, .f-created__link, .f-information, .f-customer-service {
    width: 100%;
  }
  .f-information {
    padding: 32px 20px 0;
  }
  .f-customer-service {
    padding: 0 20px;
  }
  .f-information__title, .f-customer-service__title {
    position: relative;
  }
  .f-information__title, .f-information__link, .f-customer-service__title, .f-customer-service__link {
    text-decoration: none;
        font-size: 34px;
        display: block;
        padding: 25px 54px 18px 2px;
        margin: 0 33px 0 16px;
        border-top: 2px solid #eee7df;
  }
  .f-customer-service__title {
    border-bottom: 2px solid #eee7df;
  }
  .f-information__link, .f-customer-service__link {
    padding-left: 30px;
    font-size:33px;
  }
  .f-customer-service__item:first-child a {
    border-top: none;
  }
  .f-information__item:last-child, .f-customer-service__item:last-child {
    border-bottom: 2px solid #eee7df;
  }
  .f-information__list, .f-customer-service__list {
    display: none;
  }
  .f-information__title span, .f-customer-service__title span {
    color: #eee7df;
    right: 1px;
  }
  .f-customer-service__item a:hover, .f-information__item a:hover {
        border-bottom: none;
  }
  .f-customer-service__item a, .f-information__item a {
    border-bottom: none;
  }
  .f-customer-service__item a, .f-information__item a {
    padding-bottom: 18px;
  }
  .f-customer-service__item, .f-information__item, .f-customer-service__list {
    padding: 0;
  }
  .f-follow-us__list {
    text-align: center;
        padding: 46px 61px 46px 46px;
  }
  .f-follow-us__item img {
    width: 100%;
  }
  .f-follow-us__item {
    margin: 0 20px;
  }
  .f-created__link span {
    background-image: url('../img/created-mobile.png');
    width: 444px;
    height: 84px;
  }
  .f-created__link {
        padding: 10px 30px 30px 0;
  }
  .f-contacts, .f-customer-service, .f-information {
    border-left: 0;
  }

}
