body{
  background: #000;
}

.pause{
  display: none;
}

.wrapper{
  margin: 200px auto;
  width: 400px;
  text-align: center;
}

.start, .pause, .split, .reset{
  padding: 5px 10px;
}

.field, .fieldForStoppedTime{
  padding:20px;
  font-size: 50px;
  font-weight: bold;
  color: red;
}
