<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MYSITE</title>
    <link rel="stylesheet" href="css/style.css" media="screen">
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="js/template.js" charset="utf-8"></script>
    <script src="js/script.js"></script>

</head>

<body>

<script type="text/html" id="page">

  <div class="wrapper">

      <div class="top">

          <h1 class="tittle"><%= person.name %></h1>

          <p class="photo"><%= person.photo %></p>

          <p class="text"><%= person.speciality %></p>

      </div>

      <div class="part2">

          <p class="text1"><%= titleAnswers[0] %></p>

          <ul class="list">
            <% for(var i = 0; i < answersFirst.length; i++) { %>
            <li><%= answersFirst[i] %></li>
            <% } %>
          </ul>

      </div>

      <div class="part3">

          <p class="text2"><%= titleAnswers[1] %></p>

          <%= links[0] %>

          <p class="text2"><%= titleAnswers[2] %></p>

          <%= links[1] %>

      </div>

      <div class="bottom">

          <p class="text2"><%= titleAnswers[3] %></p>
          <p class="text3"><%= feedback %></p>

      </div>


  </div>
</script>



</body>

</html>
