html, body {
    font-family: Arial, Tahoma, sans-serif;
    height: 100%;
}
body {
    /*чтоб при уменьшении или увеличивании не вылазил белый фон*/
    background-color: #198db8;
    background-repeat: no-repeat;
    background-size: cover;
}
.background_1st {
    position: absolute;
    width: 100%;
    height: 23px;
    border-bottom: solid 1px #00fbfb;
    background-color: #0290a7;
}
.background_2nd {
    position: absolute;
    top: 24px;
    width: 100%;
    height: 110px;
    background: -webkit-repeating-linear-gradient(top, #18cbe3, #fff);
    /* Safari 5.1 - 6.0 */
    background: -o-repeating-linear-gradient(top, #18cbe3, #fff);
    /* Opera 11.1 - 12.0 */
    background: -moz-repeating-linear-gradient(top, #18cbe3, #fff);
    /* Firefox 3.6 - 15 */
    background: repeating-linear-gradient(top, #18cbe3, #fff);
    /* Стандартный синтаксис */
}
.background_3rd {
    position: absolute;
    top: 134px;
    width: 100%;
    height: 90%;
    background: -webkit-repeating-linear-gradient(top, #3ebdcf, #198db8);
    /* Safari 5.1 - 6.0 */
    background: -o-repeating-linear-gradient(top, #3ebdcf, #198db8);
    /* Opera 11.1 - 12.0 */
    background: -moz-repeating-linear-gradient(top, #3ebdcf, #198db8);
    /* Firefox 3.6 - 15 */
    background: repeating-linear-gradient(top, #3ebdcf, #198db8);
    background-size: cover;
    /* Стандартный синтаксис */
}
#wrapper {
    position: relative;
    display: table;
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 1);
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 1);
}

header {
    border-bottom: 1px solid #3ebdcf;
}
.header_top:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.';
}
.left_top {
    float: left;
    padding: 11px 0 0 30px;
}
.left_top img {
    height: 119px;
}
.right_top {
    float: right;
}
.img_right_top {
    font-size: 10px;
    display: flex;
    padding: 5px 28px 0 0;
    color: #3ebdcf;
    justify-content: flex-end;
}
.cont {
    font-weight: bold;
}
.img_right_top > ul > li > a {
    font-size: 10px;
    text-decoration: none;
    color: #3ebdcf;
}
.img_right_top > ul > li > a:active {
    color: #3ebdcf;
}
.menu_right_top_img {
    margin: 37px 0 0 130px;
    /*размещение картинок по центру блока*/
}
.menu_right_top_img > ul > li {
    display: inline-block;
    padding-right: 8px;
}
.menu_right_top_img a {
    font-size: 9px;
    color: #099;
}
.menu_right_top_img a:hover:active {
    color: #099;
}
.menu_right_top_img img {
    width: 30px;
    /*размер картинки*/
}
.ind {
    margin: -2px 0 0 0;
    padding: 0 0 0 3px;
}
.nep {
    margin: -2px 0 0 0;
    padding: 0 0 0 3px;
}
.tib {
    margin: -2px 0 0 0;
    padding: 0 0 0 4px;
}
.but {
    margin: -2px 0 0 0;
    padding: 0 0 0 2px;
}
.sri {
    margin: -2px 0 0 -9px;
}
.mald {
    margin: -2px 0 0 -8px;
    padding: 0 0 0 3px;
}
.navigation {
    border-top: 1px solid rgb(161, 195, 208);
    background: rgba(32, 32, 32, .9);
    -webkit-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 1);
    box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 1);
}
.navigation > li {
    position: relative;
    /*стилизируем разделы меню*/
    display: inline-block;
    padding: 5px 35px;
}
.navigation a {
    font: Tahoma normal;
    font-size: 14px;
    text-decoration: none;
    /*стилизируем наши ссылки*/
    color: #fff;
}
.navigation a:first-child {
    padding: 0 5px;
}
.navigation > li > ul {
    /*стили для скрытого выпадающего меню*/
    display: none;
    color: #fff;
    background: rgba(32, 32, 32, .9);
    -webkit-box-shadow: 0 15px 30px -2px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 15px 30px -2px rgba(0, 0, 0, 1);
    box-shadow: 0 15px 30px -2px rgba(0, 0, 0, 1);
}
.navigation > li:hover > ul {
    position: absolute;
    top: 25px;
    display: block;
    padding-top: 10px;
}
.travel_includes {
    margin-left: -16px;
    padding: 10px 30px 10px 20px;
}
.services_includes {
    margin-left: -30px;
    padding: 10px 30px 10px 20px;
}
.partners_incl {
    margin-left: -20px;
    padding: 10px 30px 10px 20px;
}
.services:after, .partners:after, .travel:after {
    position: absolute;
    display: inline-block;
    width: 5px;
    height: 6px;
    margin-top: 7px;
    margin-left: 4px;
    content: ' ';
    background: url('../img/triangl.png') 100%;
}
main {
    /* чтобы лишее обрезалось */
    line-height: 23px;
    /* set hasLayout */
    overflow: hidden;

}

.leftColumn {
    float: left;
    width: 25%;
    margin-top: 4px;
    margin-bottom: -20000px;
    padding: 10px 3px 0 3px;
    padding-bottom: 20010px;
    text-align: center;
    border-left: 1px solid #c8c8c8;
    background-color: rgba(200, 200, 200, .4);
    box-sizing: border-box;
}
.leftColumn h1 {
    font-weight: bold;
}
.centerColumn {
    display: block;
    float: left;
    overflow: hidden;
    width: 50%;
    margin-bottom: -20000px;
    padding: 10px 3px 0 3px;
    padding-bottom: 20010px;
    text-align: center;
    box-sizing: border-box;
}
.rightColumn {
    float: right;
    overflow: hidden;
    width: 25%;
    margin-top: 4px;
    margin-bottom: -20000px;
    padding: 10px 3px 0 3px;
    padding-bottom: 20010px;
    text-align: center;
    border-left: 1px solid #c8c8c8;
    background-color: rgba(200, 200, 200, .4);
    box-sizing: border-box;
}
.rightColumn h1 {
    font-weight: bold;
}


footer {
    position: absolute;
    width: 100%;
    padding-top: 10px;
    color: #000;
}
footer > p {
    display: flex;
    justify-content: center;
}
