%clearfix {
  *zoom: 1;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

/*
Use:
.block {
    @extend %clearfix;
}
*/

@mixin tr($sec, $deg) {
  -webkit-transition: all linear $sec;
  -moz-transition: all linear $sec;
  -o-transition: all linear $sec;
  transition: all linear $sec;
  -ms-transform: rotate($deg); /* IE 9 */
  -webkit-transform: rotate($deg); /* Chrome, Safari, Opera */
  transform: rotate($deg);
}



// Breakpoints for each query

@mixin links($property, $visit, $hover, $active) {
    &:visited {
      #{$property}: $visit;
    }
    &:hover {
      #{$property}: $hover;
    }
    &:active {
      #{$property}: $active;
    }
}

//example @include links($property, $visit, $hover, $active);

@mixin mq($breakpoint) {

  $mq-xs: "(max-width: 320px)";
  $mq-sm: "(min-width: 320px) and (max-width: 768px)";
  $mq-md: "(min-width: 768px) and (max-width: 940px)";
  $mq-lg: "(min-width: 940px)";

  @if $breakpoint == xs {
    @media #{$mq-xs} { @content; }
  }
  @else if $breakpoint == sm {
    @media #{$mq-sm} { @content; }
  }
  @else if $breakpoint == md {
    @media #{$mq-md}  { @content; }
  }
  @else if $breakpoint == lg {
    @media #{$mq-lg}  { @content; }
  }
}

// @include mq(xs)
//     {
//         width: 100%;
//     }
