@media (max-width: 479px) {
    .width {
        width: 320px;
        margin: 0 auto;
    }
    .width:after {
        display: block;
        clear: both;
        overflow: hidden;
        content: ' ';
    }
    .head {
        position: relative;
        margin-bottom: 90px;
        text-align: center;
    }
    .header_logo {
        margin-top: 71px;
    }
    .menu {
        position: absolute;
        z-index: 1;
        left: 50%;
        display: block;
        width: 244px;
        margin-top: 18px;
        margin-left: -124px;
        border: 1px solid transparent;
    }
    .menu:hover {
        border: 1px solid #000;
        border-radius: 10px;
        background-color: rgba(34, 26, 39, .6);
    }
    .menu__item {
        position: relative;
        display: none;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }
    .menu:hover .menu__item {
        position: relative;
        display: block;
        text-transform: uppercase;
        border-top: 1px solid #695272;
        border-bottom: 1px solid #35273d;
    }
    .menu__item:first-child, .menu__item:hover:first-child {
        display: block;
        border-radius: 10px 10px 0 0;
    }
    .menu__item:nth-child(5) {
        letter-spacing: -.9px;
    }
    .menu__item:last-child, .menu__item:hover:last-child {
        border-radius: 0 0 10px 10px;
    }
    .menu__link {
        font-family: 'league_gothicregular';
        font-size: 24px;
        display: block;
        padding: 4px 0 5px 0;
        text-decoration: none;
        color: #fff;
        border-bottom: 2px solid transparent;
        text-shadow: rgb(50, 50, 50) 1px 1px 2px;
    }
    .menu:hover .menu__link:hover {
        border-bottom: 2px solid #efc8ff;
        background-color: rgba(34, 26, 39, .8);
    }
    .menu__link--first:first-child {
        padding: 9px 0 7px 0;
        border-radius: 10px 10px 0 0;
    }
    .menu__link--last:last-child {
        border-radius: 0 0 10px 10px;
    }
    .slider:after {
        display: block;
        clear: both;
        overflow: hidden;
        content: ' ';
    }
    .slider-left {
        margin-top: 88px;
        margin-left: 26px;
    }
    .slider-img {
        display: none;
        visibility: hidden;
        overflow: hidden;
    }
    .slider-right:after {
        display: table;
        clear: both;
        overflow: hidden;
        content: ' ';
    }
    .slider__mainHead {
        font-size: 36px;
        font-weight: 100;
        margin-left: 36px;
        letter-spacing: .5px;
        color: #fff;
        text-shadow: #000 0 1px 1px;
    }
    .slider__mainHead span:nth-child(2) {
        letter-spacing: -.6px;
    }
    .slider__mainHead span:nth-child(3) {
        margin-left: 1px;
        letter-spacing: -.5px;
    }
    .slider__secHead {
        font-size: 18px;
        font-weight: 100;
        margin-top: -3px;
        margin-left: 38px;
        color: #efbeff;
    }
    .slider__secHead span {
        visibility: hidden;
    }
    .slider__text {
        font-size: 0;
        display: none;
        visibility: hidden;
    }
    .slider-box {
        margin-top: 76px;
        margin-bottom: 63px;
        margin-left: 9px;
        text-align: center;
    }
    .slider-box li {
        display: inline-block;
    }
    .slider-box a {
        position: relative;
        display: block;
        width: 19px;
        height: 19px;
        content: ' ';
        background: url('../img/slider.png');
    }
    .slider-box a:hover {
        position: relative;
        display: block;
        width: 19px;
        height: 19px;
        content: ' ';
        background: url('../img/slider.png') no-repeat 100%;
    }
    .column {
        position: relative;
        color: #fff;
        border-top: 1px solid #000;
        border-bottom: 1px solid #fff;
        background: rgba(116, 80, 131, 1);
        background: -moz-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(116, 80, 131, 1)), color-stop(100%, rgba(50, 37, 57, 1)));
        background: -webkit-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        background: -o-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        background: -ms-linear-gradient(top, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        background: linear-gradient(to bottom, rgba(116, 80, 131, 1) 0%, rgba(50, 37, 57, 1) 100%);
        -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, .75);
        -moz-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, .75);
        box-shadow: 0 2px 8px -1px rgba(0, 0, 0, .75);
    }
    .column-block {
        margin-top: 68px;
        margin-left: 82px;
    }
    .column-block__tittle:hover:before {
        margin-top: -3px;
        cursor: pointer;
        -webkit-transition: .5s ease-out;
        -moz-transition: .5s ease-out;
        -o-transition: .5s ease-out;
    }
    .column-block__tittle:before {
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        margin-top: 3px;
        margin-left: -53px;
        content: ' ';
        background: url(../img/tool.png) no-repeat;
    }
    .column-block--tittle2:before {
        margin-top: 3px;
        margin-left: -56px;
        background: url(../img/think.png) no-repeat;
    }
    .column-block--tittle3:before {
        margin-top: 3px;
        margin-left: -56px;
        background: url(../img/melody.png) no-repeat;
    }
    .column-block:nth-child(2) {
        margin-top: 57px;
    }
    .column-block:last-child {
        margin-top: 74px;
        margin-bottom: 98px;
    }
    .column-block__tittle {
        font-family: 'LeagueGothicRegular';
        font-size: 23px;
        font-weight: 100;
        margin-top: 3px;
        text-transform: uppercase;
        text-shadow: 0 1px 1px #000;
    }
    .column-block__text {
        font-family: 'open_sanslight';
        font-size: 16px;
        line-height: 24px;
        overflow: hidden;
        height: 71px;
        margin-top: 2px;
        letter-spacing: -.1px;
        word-wrap: break-word;
        text-shadow: 0 0 2px #000;
    }
    .column-block__link {
        font-size: 18px;
        position: absolute;
        margin-top: 14px;
        margin-left: 155px;
        text-decoration: none;
        color: #fff;
        text-shadow: 1px 1px 4px #000;
    }
    .column-block__link:hover {
        text-shadow: #fff 0 0 10px;
    }
    .column-block--link {
        /*Another parametr in maket for this elemt*/
        margin-right: 20px;
    }
    .column-block__link:after, .column-block--link:after {
        display: table;
        visibility: hidden;
        clear: both;
        overflow: hidden;
        content: '';
    }
    .column2 {
        background-color: rgb(249, 249, 249);
    }
    .feedback {
        display: inline-block;
        width: 256px;
        margin-top: 70px;
        margin-left: 43px;
        background-color: #fff;
    }
    .feed-wrap:after {
        display: block;
        visibility: hidden;
        clear: both;
        overflow: hidden;
        height: 0;
        content: '.';
    }
    .feedback__name {
        font-size: 25px;
        font-weight: 400;
        display: block;
        margin-top: 20px;
        margin-left: 34px;
        letter-spacing: -.3px;
    }
    .feedback--tittle:before {
        position: absolute;
        display: block;
        width: 50px;
        height: 51px;
        margin-top: -27px;
        margin-left: -59px;
        content: ' ';
        background: url('../img/photo-per.png') no-repeat;
    }
    .feedback--tittle {
        margin-top: -6px;
        margin-left: 35px;
        color: #efbeff;
    }
    .feedback__text {
        font-family: 'open_sanslight';
        font-size: 15.9px;
        line-height: 24px;
        overflow: hidden;
        width: 200px;
        height: 170px;
        margin-top: 0;
        margin-bottom: 26px;
        margin-left: 38px;
    }
    .slider-box--curr {
        display: block;
        margin-top: 18px;
        margin-bottom: 2px;
        margin-left: 41px;
    }
    .slider-box:after {
        display: block;
        visibility: hidden;
        clear: both;
        overflow: hidden;
        height: 0;
        content: '.';
    }
    .slider-box--curr a {
        position: relative;
        display: block;
        width: 19px;
        height: 19px;
        content: ' ';
        background: url('../img/slider2.png');
    }
    .slider-box--curr a:hover {
        position: relative;
        display: block;
        width: 19px;
        height: 19px;
        content: ' ';
        background: url('../img/slider2.png') 21px 20px;
    }
    .updates a {
        margin-bottom: 85px;
        text-decoration: none;
        color: #000;
    }
    .updates:after {
        display: block;
        visibility: hidden;
        clear: both;
        overflow: hidden;
        height: 0;
        content: '.';
    }
    .updates__tittle {
        font-size: 30px;
        font-weight: 400;
        margin-top: 36px;
        margin-left: 18px;
        letter-spacing: -.1px;
    }
    .updates__name {
        font-family: 'OpenSansExtraBold';
        font-size: 16px;
        overflow: hidden;
        height: 21px;
        margin-top: 14px;
        margin-left: 85px;
    }
    .updates__name:before {
        position: absolute;
        display: block;
        width: 49px;
        height: 49px;
        margin-top: -1px;
        margin-left: -65px;
        content: ' ';
        background: url('../img/upd-icon1.png') no-repeat;
    }
    .updates--name2:before {
        background: url('../img/upd-icon2.png') no-repeat;
    }
    .updates--name3:before {
        background: url('../img/upd-icon3.png') no-repeat;
    }
    .updates__content {
        font-family: 'open_sanslight';
        font-size: 16px;
        margin-top: 2px;
        margin-left: 85px;
        letter-spacing: -.1px;
    }
    .updates--name2 {
        margin-top: -1px;
    }
    .updates--name3 {
        margin-top: 3px;
    }
    .updates__link {
        font-size: 19px;
        float: right;
        margin-top: -3px;
        margin-right: 27px;
        text-decoration: none;
        color: #000;
    }
    .sponsors {
        position: relative;
        overflow: hidden;
        border-top: 1px solid rgb(230, 230, 230);
        border-bottom: 1px solid rgb(216, 216, 216);
    }
    .sponsors-menu {
        margin-bottom: 69px;
    }
    .sponsors-menu li {
        display: inline-block;
    }
    .sponsor-menu__sponsor1 {
        position: relative;
        display: block;
        width: 110px;
        height: 65px;
        margin-top: 52px;
        margin-left: 61px;
        content: ' ';
        background: url('../img/logos.png') no-repeat;
    }
    .sponsor2 {
        margin-left: 10px;
        background: url('../img/logos.png') -132px 0 no-repeat;
    }
    .sponsor3 {
        margin-top: 56px;
        margin-left: 63px;
        background: url('../img/logos.png') -264px 0 no-repeat;
    }
    .sponsor4 {
        margin-left: 8px;
        background: url('../img/logos.png') -394px 0 no-repeat;
    }
    .sponsor5 {
        margin-top: 0;
        margin-left: 36px;
        background: url('../img/logos.png') -522px 0 no-repeat;
    }
    .sponsor6 {
        margin-top: 39px;
        margin-left: 40px;
        background: url('../img/logos.png') -685px 0 no-repeat;
    }
    .sponsors__menu li {
        display: inline-block;
    }
    .column3 {
        display: none;
        visibility: hidden;
        overflow: hidden;
    }
    footer {
        background: url('../img/footer-bg.jpg') center no-repeat;
        background-size: 100% 100%;
    }
    .menu--curr {
        display: none;
        visibility: hidden;
        overflow: hidden;
    }
    .designer {
        font-family: 'open_sanslight';
        font-size: 12px;
        margin-bottom: 147px;
        margin-left: -3px;
        padding-top: 38px;
        text-align: center;
        color: #fff;
        text-shadow: 0 2px 2px #000;
    }
    .designer span {
        font-family: 'OpenSansExtraBold';
    }
}
