.wrapper {
    width: 400px;
    margin: 0 auto;
}
.title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
}
ol {
    margin-left: 20px;
    margin-bottom: 20px;
}
ol> li {
    padding-top: 10px;
}
li {
    padding-top: 15px;
    margin-left:10px;
}
ul> li {
    list-style: none;
}
input[type="button"] {
    display: block;
    margin: 0 auto;
    padding: 7px 15px;
    border: 1px solid black;
    background: rgb(166, 187, 223);
}
